<div class="tool-bar group-buttons">
  <div class="layout-action">
    <button type="button" (click)="b.showLayouts = true" [class.active]="b.showLayouts">
      <i class="fa fa-layer-group"></i>
      {{ 'Layouts' | translate }}
    </button>
    <button type="button" (click)="b.showLayouts = false" [class.active]="!b.showLayouts">
      <i class="fa fa-grid-2-plus"></i>
      {{ 'ToolBox' | translate }}
    </button>
  </div>
  <button type="button" (click)="backendService.save()" [disabled]="backendService.saving">
    <i class="fa fa-save"></i>
    {{ 'Save' | translate }}
  </button>
  <button type="button" (click)="backendService.preview()" [disabled]="backendService.saving">
    <i class="fa fa-display"></i>
    {{ 'Preview' | translate }}
  </button>

  <button type="button" (click)="b.showBorder = !b.showBorder">
    <i class="fa fa-square-dashed"></i>
  </button>
  <button type="button">
    <i class="fa fa-code"></i>
  </button>
  <button type="button">
    <i class="fa fa-gear"></i>
  </button>

  <div class="spacer"></div>

  <button type="button" (click)="b.viewMode = ViewModeEnum.Mobile" [class.active]="b.viewMode === ViewModeEnum.Mobile">
    <i class="fa fa-mobile"></i>
  </button>
  <button type="button" (click)="b.viewMode = ViewModeEnum.Tablet" [class.active]="b.viewMode === ViewModeEnum.Tablet">
    <i class="fa fa-tablet"></i>
  </button>
  <button
    type="button"
    (click)="b.viewMode = ViewModeEnum.Desktop"
    [class.active]="b.viewMode === ViewModeEnum.Desktop">
    <i class="fa fa-display"></i>
  </button>
</div>
