.glass-card {
  background: rgb(255 255 255 / 7%);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow:
    0 8px 32px rgb(0 0 0 / 13%),
    inset 0 1px 0 rgb(117 117 117 / 9%),
    inset 0 -1px 0 rgb(112 112 112 / 10%),
    inset 0 0 36px 18px rgb(135 135 135 / 4%);
  position: relative;
  overflow: hidden;
}

.glass-card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1px;
  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.472), transparent);
}

.glass-card::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 100%;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.582), transparent, rgba(255, 255, 255, 0.3));
}
