$menuWidth: 0; // 245px;
$headerHeight: 52px;

.panel-container {
  app-side-menu {
    width: $menuWidth;
    display: block;
    position: absolute;
    height: calc(100% - $headerHeight);
    border: none;
    border-right: 1px #5e5e5e solid;
  }
}

html[dir='rtl'] {
  .panel-container {
    .panel-content {
      // padding-left: 0;
      // padding-right: $menuWidth;
    }
  }

  app-side-menu {
    border: none;
    border-left: 1px #5e5e5e solid;
  }
}

.tools {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  margin: 16px 0;
}

.filter-form {
  width: 100%;
  display: block;
  margin: 20px 0;
  padding: 30px 10px;
  border: 1px #89898940 solid;
  border-radius: 5px;
  box-shadow: 0 0 6px rgb(28 28 28 / 18%);
  animation: showForm 350ms cubic-bezier(0.4, -0.32, 0.4, 1.24) forwards;

  &.hide {
    animation: hideForm 500ms cubic-bezier(0.4, -0.32, 0.4, 1.24) forwards;
  }

  @keyframes showForm {
    from {
      margin-top: -100px;
      opacity: 0;
    }

    to {
      margin-top: 0px;
      opacity: 1;
    }
  }

  @keyframes hideForm {
    to {
      max-height: 0;
      overflow: hidden;
      padding: 0;
      border: none;
      margin: 0;
      opacity: 0;
      visibility: hidden;
    }
  }
}
