// @use '@angular/material' as mat;
@use './colors.scss';
@use './bootstrap-overide.scss';
@use './panel.scss';
@use './theme.scss';
@use './list.scss';
@use './custom-dialog.scss';
@use './grapesjs.scss';
@use './tree.scss';
@use '../../node_modules/ngx-page-builder/assets/styles.css';

@font-face {
  font-family: 'iranSans';
  src:
    url('../../public/fonts/farsiNum/eot/IRANSansXFaNum-UltraLight.eot') format('embedded-opentype'),
    url('../../public/fonts/farsiNum/otf/IRANSansXFaNum-UltraLight.otf') format('truetype'),
    url('../../public/fonts/farsiNum/ttf/IRANSansXFaNum-UltraLight.ttf') format('truetype'),
    url('../../public/fonts/farsiNum/woff/IRANSansXFaNum-UltraLight.woff') format('woff'),
    url('../../public/fonts/farsiNum/woff2/IRANSansXFaNum-UltraLight.woff2') format('woff2');
}

@font-face {
  font-family: 'axiforma';
  src:
    url('../../public/fonts/Axiforma/Axiforma-Regular.eot') format('embedded-opentype'),
    url('../../public/fonts/Axiforma/Axiforma-Regular.ttf') format('truetype'),
    url('../../public/fonts/Axiforma/Axiforma-Regular.woff') format('woff');
}

:root {
  // font awosome weigth
  --fa-style: 200;
  // font awosome size
  --fa-size: 16px;
  /* for table view responsive */
  --available-content-height: calc(100vh - 220px);
}

html {
  overflow-y: scroll;
}
html,
body {
  height: 100%;
}

body {
  margin: 0;
  background: var(--body-bg) !important;
  color: var(--text-primary);

  &.color-scheme-dark {
    .ngx-alert-container {
      &.has-backdrop {
        background: #a9a9a954 !important;
      }

      .ngx-alert-inner {
        background-color: #252222 !important;
        color: #eee;
      }

      .ngx-alert-title,
      .ngx-alert-body {
        word-wrap: break-word;
      }
    }
  }

  * {
    box-sizing: border-box;
  }
}

body[dir='rtl'] {
  font-family: iranSans;
  font-size: 12px !important;
}
body[dir='ltr'] {
  font-family: 'axiforma', Roboto, 'Helvetica Neue', sans-serif;
  font-size: 10px !important;
}
a {
  text-decoration: none;
  color: inherit;
}
img {
  max-width: 100%;
  max-height: 100%;
}
pre {
  font: inherit;
  white-space: pre-wrap;
}
.fa {
  font-size: var(--fa-size);
}
.text-start {
  text-align: start !important;
}
.text-end {
  text-align: end !important;
}

.card {
  /* inner glow 👇 */
  box-shadow:
    inset 0 0 0.5px 1px hsla(0, 0%, 100%, 0.075),
    /* shadow ring 👇 */ 0 0 0 1px hsla(0, 0%, 0%, 0.05),
    /* multiple soft shadows 👇 */ 0 0.3px 0.4px hsla(0, 0%, 0%, 0.02),
    0 0.9px 1.5px hsla(0, 0%, 0%, 0.045),
    0 3.5px 6px hsla(0, 0%, 0%, 0.09);
  border-color: var(--border-soft);
  background-color: var(--card-bg);
}

.blur-card {
  -webkit-backdrop-filter: blur(40px) saturate(1);
  backdrop-filter: blur(40px) saturate(1);
  background-color: #0000000d;
  border: 1px solid hsla(0, 0%, 100%, 0.05);
  position: relative;
  /* corner-shape: squircle; */
  border-radius: 7em;
  padding: 6em 5em;
  z-index: 10000;
}

/*notify */
.notify-success {
  background-color: #00bb73;
  --mat-snackbar-container-color: #00bb73;
  color: #fff;
  --mat-snackbar-supporting-text-color: #fff;
}

.notify-warning {
  background-color: #ff7b00;
  --mat-snackbar-container-color: #ff7b00;
  color: #fff;
  --mat-snackbar-supporting-text-color: #fff;
}

.notify-error {
  background-color: #ff0055;
  --mat-snackbar-container-color: #ff0055;
  color: #fff;
  --mat-snackbar-supporting-text-color: #fff;
}

.notify-info {
  background-color: #0084ff;
  --mat-snackbar-container-color: #0084ff;
  color: #fff;
  --mat-snackbar-supporting-text-color: #fff;
}

/* end of notify */

/* alert */
html[data-bs-theme='light'] {
  .ngx-alert-container .ngx-alert-inner {
    background-color: var(--bs-light) !important;
  }
}

html[data-bs-theme='dark'] {
  .ngx-alert-container .ngx-alert-inner {
    background-color: var(--bs-dark) !important;
  }
}

fieldset {
  legend {
    float: none;
    width: auto;
  }
}
