.tab-group-container {
  --oc-tab-bg: #fff;
  --oc-tab-border: #d7e1ea;
  --oc-tab-hover-bg: rgba(215, 225, 234, 0.7);
  // padding: 20px;
  background-color: inherit; //var(--body-bg);
  position: relative;

  .tabs {
    display: flex;
    position: relative;
    border-bottom: none;
    flex-wrap: nowrap;
    font-size: 0;
    //  overflow: hidden;
    vertical-align: bottom;
    white-space: nowrap;
    line-height: 1;
    padding: 0 25px;

    .tab-item {
      background: transparent;
      font-size: 14px;
      font-weight: 500;
      margin: 0;
      overflow: visible;
      padding-bottom: 3px;
      position: relative;
      top: 3px;
      z-index: 11;

      .title {
        box-sizing: border-box;
        display: inline-block;
        padding: 4px 12px 0;
        position: relative;
        z-index: 10;
        display: flex;
        flex-direction: column;

        span.top-line {
          border-top: 2px solid transparent;
          margin-top: -4px;
          padding-top: 7px;
          display: inline-block;
          overflow: hidden;
          text-overflow: ellipsis;
          border-radius: 0px;
          padding: 0px 12px;
        }

        span.tab-name {
          border-radius: 4px;
          padding: 10px 10px;
        }

        &:before,
        &:after {
          background: var(--oc-tab-bg);
          border-top: 2px solid var(--oc-tab-border);
          bottom: -2px;
          content: '';
          display: none;
          position: absolute;
          top: 0;
          transform-origin: bottom;
          width: 20px;
          z-index: -1;
        }
      }

      &.active {
        border-top-color: #d6d6d6;
        z-index: 12;

        &:before {
          background-color: var(--oc-tab-bg);
          bottom: -3px;
          content: ' ';
          height: 7.4px;
          left: -8px;
          position: absolute;
          right: -7px;
          z-index: 20;
        }
        .title {
          background: var(--oc-tab-bg);
          border-top-color: #d6d6d6;
          z-index: 12;

          span {
            border-top-color: var(--oc-tab-border);
          }

          &:before {
            display: block;
            border-left: 2px solid var(--oc-tab-border);
            border-radius: 8px 0 0 0;
            left: -12px;
            transform: skewX(-10deg);
          }

          &:after {
            display: block;
            border-radius: 0 8px 0 0;
            border-right: 2px solid var(--oc-tab-border);
            right: -12px;
            transform: skewX(10deg);
          }
        }
      }

      &:not(.active):hover .title span.tab-name {
        background-color: var(--oc-tab-hover-bg);
        cursor: pointer;
        transition: all 300ms;
      }
    }
  }
}

body.color-scheme-dark {
  .tab-group-container {
    --oc-tab-bg: rgb(37, 37, 37);
    --oc-tab-border: #414141;
    --oc-tab-hover-bg: #294e6fb3;
  }
}
