<div class="tab-group-container" #tabGroupContainer>
  <div class="tabs">
    @for (tab of tabs; track tab; let tabIndex = $index) {
      <div
        class="tab-item"
        #tabEl
        (click)="selectTab(tab, tabIndex)"
        [class.active]="tab.active">
        <span class="title">
          <span class="top-line"></span>
          <span class="tab-name">{{ tab.title }}</span>
        </span>
      </div>
    }
    @if (showPlusButton) {
      <div class="tab-item plus" (click)="onClickPlus()">+</div>
    }
  </div>

  <ng-content></ng-content>
</div>
