<div class="d-flex">
  <div class="menu-list">
    <a class="menu-item" [routerLink]="['/dashboard/products/categories']" routerLinkActive="active">
      <div class="icon">
        <i class="fad fa-diagram-project"></i>
      </div>
      <div class="content">
        <div class="title">{{ 'ProductCategories' | translate }}</div>
        <div class="description">{{ 'ProductCategoriesDescription' | translate }}</div>
      </div>
    </a>
    <a class="menu-item" [routerLink]="['/dashboard/products/types']" routerLinkActive="active">
      <div class="icon">
        <i class="fad fa-box-open-full"></i>
      </div>

      <div class="content">
        <div class="title">{{ 'ProductTypes' | translate }}</div>
        <div class="description">{{ 'ProductTypesDescription' | translate }}</div>
      </div>
    </a>

    <a class="menu-item" [routerLink]="['/dashboard/products/product-list']" routerLinkActive="active">
      <div class="icon">
        <i class="fad fa-boxes-packing"></i>
      </div>

      <div class="content">
        <div class="title">{{ 'Products' | translate }}</div>
        <div class="description">{{ 'ProductsDescription' | translate }}</div>
      </div>
    </a>
  </div>
  <div class="flex-fill">
    <router-outlet></router-outlet>
  </div>
</div>
