.bread-crumb {
  background: #ffffff2e;
  margin: 0 12px;
  padding: 5px 15px;
  display: flex;
  align-items: center;
  gap: 5px;

  .tag {
    transition: all 500ms;

    &:not(:first-child):before {
      content: '/';
      margin: 0 2px;
      color: #fff !important;
    }
  }
  a.tag:hover {
    color: rgb(115, 0, 255);
  }
}
