.bread-crumb {
  background: var(--subheader-bg);
  color: var(--subheader-fg);
  // border-bottom: 1px var(--border-color) solid;
  padding: 8px 15px;
  display: flex;
  align-items: center;
  gap: 5px;

  .tag {
    transition: all 500ms;

    &:not(:first-child):before {
      content: '/';
      margin: 0 2px;
      color: #fff !important;
    }
  }
  a.tag:hover {
    color: rgb(115, 0, 255);
  }
}
