.folder-address {
  border-bottom: 1px darkgrey solid;
  display: flex;
  height: 30px;

  i {
    font-style: normal;
    margin: 0px 5px;
  }

  .parent-path {
    flex: auto;
    padding: 5px;
    font-weight: 900;
    direction: ltr;
    display: flex;
    align-items: center;

    span.item {
      padding: 1px 5px;
      transition: all 300ms;
      cursor: pointer;
      border-radius: 3px;

      &:hover {
        background-color: rgba(52, 52, 52, 0.219);
      }
    }
  }
}
