.account {
  .content {
    width: 30%;
  }
  .background {
    flex: auto;

    img {
      display: inline-block;
      margin: 0 auto;
      width: 512px;
      max-width: 100%;
      max-height: 100%;
      object-fit: contain;
    }
  }
}

@media (max-width: 768px) {
  .account {
    flex-direction: column;
    justify-content: center;

    .background {
      display: none !important;
    }
    .content {
      width: 100%;
    }
  }
}
