################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BackEnd/.vs
/BackEnd/*/bin/Debug/net9.0
/BackEnd/*/obj
Frontend/SamaniCrm/.angular/cache
BackEnd/SamaniCrm.Api/CacheFiles/
/BackEnd/SamaniCrm.Public/SamaniCrm.Public.Client/bin
/BackEnd/SamaniCrm.Public/SamaniCrm.Public.Client/obj/
/BackEnd/SamaniCrm.Public/SamaniCrm.Public/obj/
/BackEnd/SamaniCrm.Public/SamaniCrm.Public/bin
