<div class="builder">
  <div class="toolbox" id="toolBox" ngxDropList [disableSort]="true" [data]="b.blocksList">
    <button *ngFor="let block of b.blocksList" ngxDraggable (dblclick)="b.addBlock(block.type)">
      {{ BlockTypeEnum[block.type] | translate }}
    </button>
  </div>

  <div ngxDropList class="canvas" (drop)="drop($event)" [data]="b.blocks">
    @for (item of b.blocks; track item.id; let i = $index) {
      <div ngxDraggable>
        <div class="children" ngxDropList (drop)="drop($event)" [data]="item.children">
          <app-dynamic-renderer [blocks]="[item]" [index]="i" />
        </div>
      </div>
    }
  </div>

  <div class="properties">
    <span class="title">{{ 'Peroperties' | translate }}</span>
  </div>
</div>
