app-builder {
  --rightSideWidth: 220px;
  --leftSideWidth: 340px;
  --primaryColor: #008cff;
}
.builder-container {
  height: 98vh;
}
.builder {
  display: flex;
  // 32px is height of toolbar
  height: calc(100% - 32px);
}
.right-side {
  width: var(--rightSideWidth);
  overflow: auto;
}
#main-page {
  overflow-y: auto;
}
.canvas {
  flex: auto;
  border: 1px solid #ccc;
  min-height: 300px;
  background-color: #f5f5f5;
  &:hover {
    border-color: rgb(0, 140, 255);
  }
  &.show-bordered {
    .block-item,
    .cell {
      border: 1px dashed #b1b1b1;
    }
  }
}
.properties {
  width: var(--leftSideWidth);
  border: 1px #3c3c3c47 solid;
  direction: ltr;
  padding: 10px;
  overflow: auto;
  height: 100%;
}

/*--------------- view mode --------------*/
.container-fluid {
  background-color: #fff;
  height: 100%;
  transition: all 0.3s ease;
  &.tablet-view {
    width: 770px;
  }
  &.desktop-view {
    width: 100%;
  }
  &.mobile-view {
    width: 320px;
  }
}

/*--------------group buttons------------------------------*/
.group-buttons {
  display: flex;
  gap: 2px;
  background: linear-gradient(0deg, #1a1717, #575757);
  color: #ffff;
  button {
    background: none;
    border: none;
    outline: none;
    color: inherit;
    padding: 6px 10px;
    transition: all 0.3s ease;
    &:not(:disabled):hover {
      cursor: pointer;
      background-color: rgba(0, 140, 255, 0.644);
    }
    &.active {
      background-color: rgba(0, 140, 255, 0.644);
    }
  }
  &.stretch button {
    flex-grow: 1;
  }
  .spacer {
    flex: auto;
  }
}
/*--------------end of group buttons------------------------------*/

.custom-placeholder {
  border: 2px #0059ff solid;
}
.custom-placeholder2 {
  border: 2px #ff002b solid;
}
.fb-selected {
  outline: 2px solid #3b97e3 !important;
  outline-offset: -1px;
}
