@if (block) {
  @if (block.canChild) {
    <div
      class="block-wrapper"
      ngxDropList
      [data]="block.children"
      (drop)="b.drop($event)"
      [id]="'blc_' + block.rowNumber">
      <div class="custom-placeholder2" *ngxPlaceholder></div>

      <dynamic-renderer
        [parent]="block"
        [block]="child"
        *ngFor="let child of block.children; let i = index"
        ngxDraggable />
    </div>
  } @else {
    <ng-container [ngSwitch]="block.tagName">
      <span *ngSwitchCase="'span'">{{ block.data?.text }}</span>
      <p *ngSwitchCase="'p'">{{ block.data?.text }}</p>
      <strong *ngSwitchCase="'strong'">{{ block.data?.text }}</strong>
      <b *ngSwitchCase="'b'">{{ block.data?.text }}</b>
      <i *ngSwitchCase="'i'">{{ block.data?.text }}</i>
      <u *ngSwitchCase="'u'">{{ block.data?.text }}</u>
      <s *ngSwitchCase="'s'">{{ block.data?.text }}</s>
      <section *ngSwitchCase="'section'">{{ block.data?.text }}</section>
      <article *ngSwitchCase="'article'">{{ block.data?.text }}</article>
      <header *ngSwitchCase="'header'">{{ block.data?.text }}</header>
      <footer *ngSwitchCase="'footer'">{{ block.data?.text }}</footer>
      <aside *ngSwitchCase="'aside'">{{ block.data?.text }}</aside>
      <main *ngSwitchCase="'main'">{{ block.data?.text }}</main>
      <nav *ngSwitchCase="'nav'">{{ block.data?.text }}</nav>

      <h1 *ngSwitchCase="'h1'">{{ block.data?.text }}</h1>
      <h2 *ngSwitchCase="'h2'">{{ block.data?.text }}</h2>
      <h3 *ngSwitchCase="'h3'">{{ block.data?.text }}</h3>
      <h4 *ngSwitchCase="'h4'">{{ block.data?.text }}</h4>
      <h5 *ngSwitchCase="'h5'">{{ block.data?.text }}</h5>
      <h6 *ngSwitchCase="'h6'">{{ block.data?.text }}</h6>
    </ng-container>
  }
}
