@if (block) {
  <ng-container [ngSwitch]="block.tagName">
    <span
      *ngSwitchCase="'span'"
      [class.hidden]="block.hidden"
      [style]="block.data?.css"
      [class.hidden]="block.hidden"
      [style]="block.data?.css"
      ngxDropList
      [id]="'blc_' + block.id">
      {{ text }}
    </span>

    <p
      *ngSwitchCase="'p'"
      [class.hidden]="block.hidden"
      [style]="block.data?.css"
      [class.hidden]="block.hidden"
      [style]="block.data?.css"
      class="block-wrapper"
      ngxDropList
      [data]="block.children"
      (drop)="b.drop($event)"
      [id]="'blc_' + block.id">
      <span class="custom-placeholder2" *ngxPlaceholder></span>
      {{ text }}
      <dynamic-renderer
        [parent]="block"
        [block]="child"
        *ngFor="let child of block.children; let i = index"
        [loopIndex]="loopIndex"
        ngxDraggable />
    </p>

    <strong
      *ngSwitchCase="'strong'"
      [class.hidden]="block.hidden"
      [style]="block.data?.css"
      [class.hidden]="block.hidden"
      [style]="block.data?.css"
      class="block-wrapper"
      [id]="'blc_' + block.id">
      {{ text }}
    </strong>

    <b
      *ngSwitchCase="'b'"
      [class.hidden]="block.hidden"
      [style]="block.data?.css"
      [class.hidden]="block.hidden"
      [style]="block.data?.css"
      class="block-wrapper"
      [id]="'blc_' + block.id">
      {{ text }}
    </b>

    <i
      *ngSwitchCase="'i'"
      [class.hidden]="block.hidden"
      [style]="block.data?.css"
      [class.hidden]="block.hidden"
      [style]="block.data?.css"
      class="block-wrapper"
      [id]="'blc_' + block.id">
      {{ text }}
    </i>

    <u
      *ngSwitchCase="'u'"
      [class.hidden]="block.hidden"
      [style]="block.data?.css"
      [class.hidden]="block.hidden"
      [style]="block.data?.css"
      class="block-wrapper"
      [id]="'blc_' + block.id">
      {{ text }}
    </u>

    <s
      *ngSwitchCase="'s'"
      [class.hidden]="block.hidden"
      [style]="block.data?.css"
      [class.hidden]="block.hidden"
      [style]="block.data?.css"
      class="block-wrapper"
      [id]="'blc_' + block.id">
      {{ text }}
    </s>

    <section
      *ngSwitchCase="'section'"
      [class.hidden]="block.hidden"
      [style]="block.data?.css"
      [class.hidden]="block.hidden"
      [style]="block.data?.css"
      class="block-wrapper"
      ngxDropList
      [data]="block.children"
      (drop)="b.drop($event)"
      [id]="'blc_' + block.id">
      <div class="custom-placeholder2" *ngxPlaceholder></div>
      {{ text }}
      <dynamic-renderer
        [parent]="block"
        [block]="child"
        *ngFor="let child of block.children; let i = index"
        [loopIndex]="loopIndex"
        ngxDraggable />
    </section>
    <article
      *ngSwitchCase="'article'"
      [class.hidden]="block.hidden"
      [style]="block.data?.css"
      [class.hidden]="block.hidden"
      [style]="block.data?.css"
      class="block-wrapper"
      ngxDropList
      [data]="block.children"
      (drop)="b.drop($event)"
      [id]="'blc_' + block.id">
      <div class="custom-placeholder2" *ngxPlaceholder></div>
      {{ text }}
      <dynamic-renderer
        [parent]="block"
        [block]="child"
        *ngFor="let child of block.children; let i = index"
        [loopIndex]="loopIndex"
        ngxDraggable />
    </article>

    <header
      *ngSwitchCase="'header'"
      [class.hidden]="block.hidden"
      [style]="block.data?.css"
      [class.hidden]="block.hidden"
      [style]="block.data?.css"
      class="block-wrapper"
      ngxDropList
      [data]="block.children"
      (drop)="b.drop($event)"
      [id]="'blc_' + block.id">
      <div class="custom-placeholder2" *ngxPlaceholder></div>
      {{ text }}
      <dynamic-renderer
        [parent]="block"
        [block]="child"
        *ngFor="let child of block.children; let i = index"
        [loopIndex]="loopIndex"
        ngxDraggable />
    </header>

    <footer
      *ngSwitchCase="'footer'"
      [class.hidden]="block.hidden"
      [style]="block.data?.css"
      [class.hidden]="block.hidden"
      [style]="block.data?.css"
      class="block-wrapper"
      ngxDropList
      [data]="block.children"
      (drop)="b.drop($event)"
      [id]="'blc_' + block.id">
      <div class="custom-placeholder2" *ngxPlaceholder></div>
      {{ text }}
      <dynamic-renderer
        [parent]="block"
        [block]="child"
        *ngFor="let child of block.children; let i = index"
        [loopIndex]="loopIndex"
        ngxDraggable />
    </footer>

    <aside
      *ngSwitchCase="'aside'"
      [class.hidden]="block.hidden"
      [style]="block.data?.css"
      [class.hidden]="block.hidden"
      [style]="block.data?.css"
      class="block-wrapper"
      ngxDropList
      [data]="block.children"
      (drop)="b.drop($event)"
      [id]="'blc_' + block.id">
      <div class="custom-placeholder2" *ngxPlaceholder></div>
      {{ text }}
      <dynamic-renderer
        [parent]="block"
        [block]="child"
        *ngFor="let child of block.children; let i = index"
        [loopIndex]="loopIndex"
        ngxDraggable />
    </aside>

    <main
      *ngSwitchCase="'main'"
      [class.hidden]="block.hidden"
      [style]="block.data?.css"
      [class.hidden]="block.hidden"
      [style]="block.data?.css"
      class="block-wrapper"
      ngxDropList
      [data]="block.children"
      (drop)="b.drop($event)"
      [id]="'blc_' + block.id">
      <div class="custom-placeholder2" *ngxPlaceholder></div>
      {{ text }}
      <dynamic-renderer
        [parent]="block"
        [block]="child"
        *ngFor="let child of block.children; let i = index"
        [loopIndex]="loopIndex"
        ngxDraggable />
    </main>

    <nav
      *ngSwitchCase="'nav'"
      [class.hidden]="block.hidden"
      [style]="block.data?.css"
      [class.hidden]="block.hidden"
      [style]="block.data?.css"
      class="block-wrapper"
      ngxDropList
      [data]="block.children"
      (drop)="b.drop($event)"
      [id]="'blc_' + block.id">
      <div class="custom-placeholder2" *ngxPlaceholder></div>
      {{ text }}
      <dynamic-renderer
        [parent]="block"
        [block]="child"
        *ngFor="let child of block.children; let i = index"
        [loopIndex]="loopIndex"
        ngxDraggable />
    </nav>

    <h1
      *ngSwitchCase="'h1'"
      [class.hidden]="block.hidden"
      [style]="block.data?.css"
      [class.hidden]="block.hidden"
      [style]="block.data?.css"
      class="block-wrapper"
      [id]="'blc_' + block.id">
      {{ text }}
    </h1>

    <h2
      *ngSwitchCase="'h2'"
      [class.hidden]="block.hidden"
      [style]="block.data?.css"
      [class.hidden]="block.hidden"
      [style]="block.data?.css"
      class="block-wrapper"
      [id]="'blc_' + block.id">
      {{ text }}
    </h2>

    <h3
      *ngSwitchCase="'h3'"
      [class.hidden]="block.hidden"
      [style]="block.data?.css"
      [class.hidden]="block.hidden"
      [style]="block.data?.css"
      class="block-wrapper"
      [id]="'blc_' + block.id">
      {{ text }}
    </h3>

    <h4
      *ngSwitchCase="'h4'"
      [class.hidden]="block.hidden"
      [style]="block.data?.css"
      [class.hidden]="block.hidden"
      [style]="block.data?.css"
      class="block-wrapper"
      [id]="'blc_' + block.id">
      {{ text }}
    </h4>

    <h5
      *ngSwitchCase="'h5'"
      [class.hidden]="block.hidden"
      [style]="block.data?.css"
      [class.hidden]="block.hidden"
      [style]="block.data?.css"
      class="block-wrapper"
      [id]="'blc_' + block.id">
      {{ text }}
    </h5>

    <h6
      *ngSwitchCase="'h6'"
      [class.hidden]="block.hidden"
      [style]="block.data?.css"
      [class.hidden]="block.hidden"
      [style]="block.data?.css"
      class="block-wrapper"
      [id]="'blc_' + block.id">
      {{ text }}
    </h6>

    <div
      *ngSwitchDefault
      [class.hidden]="block.hidden"
      [style]="block.data?.css"
      class="block-wrapper"
      ngxDropList
      [data]="block.children"
      (drop)="b.drop($event)"
      [id]="'blc_' + block.id">
      <div class="custom-placeholder2" *ngxPlaceholder></div>
      {{ text }}
      <dynamic-renderer
        [parent]="block"
        [block]="child"
        *ngFor="let child of block.children; let i = index"
        [loopIndex]="loopIndex"
        ngxDraggable />
    </div>
  </ng-container>
}
