<button mat-raised-button color="primary" (click)="openPageDialog()">
  <i class="fa fa-download mx-1"></i>
  <span>{{ 'ExportExcel' | translate }}</span>
</button>
<table-view [list]="list" [fields]="fields" [operations]="operations" [loading]="loading"></table-view>

<ng-template #operations let-item>
  <button mat-icon-button [matMenuTriggerFor]="menu" #menuTrigger="matMenuTrigger">
    <i class="fa fa-ellipsis-v"></i>
  </button>
  <mat-menu #menu="matMenu">
    <a mat-menu-item (click)="openPageDialog(item)">
      <i class="fa fa-edit mx-1"></i>
      <span>{{ l('Edit') }}</span>
    </a>

    <a mat-menu-item (click)="changeCover(item)">
      <i class="fa fa-image mx-1"></i>
      <span>{{ l('ChangeAvatar') }}</span>
    </a>
  </mat-menu>
</ng-template>
