<sub-header [title]="'Settings' | translate"></sub-header>
<div class="panel-content">
  <div class="accordion" id="accordionExample">
    @for (item of menuService.menuList; track $index; let i = $index) {
      @if (item.permission | permission) {
        <div class="accordion-item">
          <div class="accordion-header" [id]="'mnu-' + i">
            <button
              class="accordion-button"
              type="button"
              data-bs-toggle="collapse"
              [attr.data-bs-target]="'#collapse' + i"
              aria-expanded="true"
              [attr.aria-controls]="'#collapse' + i">
              {{ item.title }}
            </button>
          </div>
          <div
            [id]="'collapse' + i"
            class="accordion-collapse collapse show"
            [attr.aria-labelledby]="'heading' + i"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <div class="menu-container">
                @for (menu of item.children; track $index) {
                  @if (menu.permission | permission) {
                    <div class="menu-item" [routerLink]="[menu.route]" routerLinkActive="active">
                      <div class="icon">
                        <i [class]="menu.icon"></i>
                      </div>
                      <div class="menu-block">
                        <div class="title">{{ menu.title }}</div>
                        <small>{{ menu.description }}</small>
                      </div>
                    </div>
                  }
                }
              </div>
            </div>
          </div>
        </div>
      }
    }
  </div>
</div>
