<nav
  class="navbar navbar-expand-lg fixed-top"
  [class.navbar-dark]="AppConst.isDarkMode"
  [class.navbar-light]="!AppConst.isDarkMode"
  [class.bg-dark]="AppConst.isDarkMode"
  [class.bg-light]="!AppConst.isDarkMode">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarTogglerDemo01"
      aria-controls="navbarTogglerDemo01"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <div class="user-block navbar-brand" [mat-menu-trigger-for]="userMenu">
        <img *ngIf="user?.profilePicture" [src]="user?.profilePicture" [alt]="user?.userName" />
        <img *ngIf="!user?.profilePicture" src="/images/profile-picture.jpg" [alt]="user?.userName" />
        <span>{{ user?.userName }}</span>
      </div>
      <mat-menu #userMenu="matMenu">
        <button mat-menu-item>
          <i class="fa fa-user mx-1"></i>
          {{ 'Profile' | translate }}
        </button>
        <button mat-menu-item>
          <i class="fa fa-lock mx-1"></i>
          {{ 'ChangePassword' | translate }}
        </button>
        <button mat-menu-item (click)="logout()">
          <i class="fa fa-power-off mx-1"></i>
          {{ 'Logout' | translate }}
        </button>
      </mat-menu>

      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/dashboard']" routerLinkActive="active">
            <i class="fa fa-desktop"></i>
            {{ 'Dashboard' | translate }}
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/dashboard/setting']" routerLinkActive="active">
            <i class="fa fa-gear"></i>
            {{ 'Settings' | translate }}
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="openFileManager()">
            <i class="fa fa-folder-image"></i>
            {{ 'Media' | translate }}
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/dashboard/content']" routerLinkActive="active">
            <i class="fa fa-file-contract"></i>
            {{ 'Content' | translate }}
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/dashboard/products']" routerLinkActive="active">
            <i class="fa fa-file-contract"></i>
            {{ 'Products' | translate }}
          </a>
        </li>
        <!-- <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            id="productDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false">
            <i class="fa fa-tag"></i>
            {{ 'Products' | translate }}
          </a>
          <ul class="dropdown-menu" aria-labelledby="productDropdown">
            <li>
              <a class="dropdown-item" [routerLink]="['/dashboard/product/categories']" routerLinkActive="active">
                {{ 'Categories' | translate }}
              </a>
            </li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li>
              <hr class="dropdown-divider" />
            </li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" routerLink="/dashboard/page-builder">
            <i class="fa fa-page"></i>
            {{ 'PageBuilder' | translate }}
          </a>
        </li>
      </ul>
      <div class="flex-fill"></div>
      <!-- darkmode -->
      <label class="switch">
        <input
          class="switch__input"
          type="checkbox"
          [ngModel]="AppConst.isDarkMode"
          (change)="colorSchemaService.toggleMode()" />
        <span class="switch__background">
          <span class="switch__toggle">
            <span class="switch__moon"></span>
          </span>
          <span class="switch__stars"></span>
          <span class="switch__clouds"></span>
        </span>
      </label>
      <!-- //darkmode -->
      <!-- language -->
      <button mat-icon-button [matMenuTriggerFor]="langMnu" class="pt-2">
        <!-- <i class="flag" [ngClass]="currentLang"></i> -->
        <img [src]="'images/flags/' + currentLang + '.png'" />
      </button>
      <mat-menu #langMnu="matMenu">
        <button
          mat-menu-item
          *ngFor="let lang of languages"
          (click)="changeLanguage(lang.culture!)"
          class="language-menu">
          <div class="d-flex align-items-center g-5">
            <!-- <i class="flag" [ngClass]="lang.code"></i> -->
            <img [src]="'images/flags/' + lang.flag + '.png'" />
            <span>{{ lang.name }}</span>
          </div>
        </button>
      </mat-menu>
      <!-- //language -->
    </div>
  </div>
</nav>
