<div class="d-flex gap-1 flex-wrap">
  <button mat-stroked-button color="primary" (click)="openCreateOrEditDialog()" [disabled]="loading">
    <i class="fa fa-plus mx-2"></i>
    {{ 'CreateNewCategory' | translate }}
  </button>

  <button mat-stroked-button (click)="toggleAll(nodes); this.isExpandAll = !this.isExpandAll">
    <span *ngIf="isExpandAll">{{ 'CollapseAll' | translate }}</span>
    <span *ngIf="!isExpandAll">{{ 'ExpandAll' | translate }}</span>
  </button>

  <button mat-stroked-button (click)="reload()" [disabled]="loading">
    <i class="fa fa-refresh"></i>
  </button>
</div>

<ng-template #tmplNode let-node="node">
  <div class="node-item" [attr.data-id]="node.id" [attr.id]="'node-' + node.id">
    <div class="node-title" (click)="node.isExpanded = !node.isExpanded">
      <mat-spinner color="primary" diameter="20" *ngIf="node.loading"></mat-spinner>
      <img *ngIf="node.file && node.file.thumbnails" [src]="node.file.thumbnails[0].path" />
      @if (node.children && node.children.length > 0) {
        @if (node.isExpanded) {
          <i class="fa fa-circle-minus mx-2"></i>
        } @else {
          <i class="fa fa-circle-plus mx-2"></i>
        }
      }
      <span>{{ node.name }}</span>

      <div class="actions" (click)="stopPagination($event)">
        <span class="item-notes">({{ node.children.length }})</span>
        <button mat-icon-button (click)="openCreateOrEditDialog(node)">
          <i class="fa fa-edit"></i>
        </button>

        <button mat-icon-button (click)="delete(node)">
          <i class="fa fa-trash"></i>
        </button>
        <button mat-icon-button (click)="selectImage(node)">
          <i class="fa fa-upload"></i>
        </button>

        <mat-slide-toggle
          [(ngModel)]="node.active"
          [disabled]="node.loading"
          color="primary"
          (toggleChange)="changeActive(node)"></mat-slide-toggle>
      </div>
    </div>

    <div
      *ngIf="node.isExpanded && node.children.length"
      class="node-children"
      cdkDropList
      [cdkDropListData]="node.children"
      [id]="node.id"
      [cdkDropListConnectedTo]="dropTargetIds"
      (cdkDropListDropped)="drop($event)"
      [cdkDropListSortingDisabled]="true">
      <div *ngFor="let child of node.children" cdkDrag [cdkDragData]="child.id" (cdkDragMoved)="dragMoved($event)">
        <ng-container *ngTemplateOutlet="tmplNode; context: { node: child }"></ng-container>
      </div>
    </div>
  </div>
</ng-template>

<div
  cdkDropList
  [cdkDropListData]="nodes"
  [id]="'main'"
  [cdkDropListConnectedTo]="dropTargetIds"
  (cdkDropListDropped)="drop($event)"
  [cdkDropListSortingDisabled]="true">
  <div *ngFor="let node of nodes" cdkDrag [cdkDragData]="node.id" (cdkDragMoved)="dragMoved($event)">
    <ng-container *ngTemplateOutlet="tmplNode; context: { node: node }"></ng-container>
  </div>
</div>
