<h2 mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane">
  <span cdkDragHandle class="title" *ngIf="!isUpdate">{{ 'CreatePage' | translate }}</span>
  <span cdkDragHandle class="title" *ngIf="isUpdate">{{ 'EditPage' | translate }}</span>

  <button type="button" class="close-btn" aria-label="Close" mat-dialog-close mat-icon-button>
    <span aria-hidden="true">&times;</span>
  </button>
</h2>
<mat-dialog-content>
  <div class="d-flex align-items-center justify-content-center py-5" *ngIf="loading">
    <mat-spinner color="primary" diameter="25"></mat-spinner>
  </div>
  <form [formGroup]="form" *ngIf="!loading">
    <div class="row">
      <mat-form-field class="col-md-6" *ngIf="isUpdate">
        <mat-label>{{ 'Status' | translate }}</mat-label>
        <mat-select formControlName="status">
          <mat-option [value]="item" *ngFor="let item of PageStatusEnum | enumToArray">
            {{ 'PageStatusEnum_' + item | translate }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <p>
      <mat-checkbox formControlName="isActive" color="primary">
        {{ 'IsActive' | translate }}
      </mat-checkbox>
    </p>
    <p>
      <mat-checkbox formControlName="isSystem" color="primary">
        {{ 'IsSystem' | translate }}
      </mat-checkbox>
    </p>

    <tab-group>
      <tab-item
        [title]="translation.get('culture')?.value"
        formArrayName="translations"
        *ngFor="let translation of translationsArray.controls; let i = index">
        <div [formGroupName]="i" class="row">
          <mat-form-field class="col-sm-12">
            <mat-label>{{ 'Title' | translate }}</mat-label>
            <input matInput formControlName="title" required />
            <mat-error *ngIf="translation.get('title')?.hasError('required')">
              {{ 'IsRequired' | translate: { value: ('Title' | translate) } }}
            </mat-error>
          </mat-form-field>

          <mat-form-field class="col-sm-12">
            <mat-label>{{ 'AdminDescription' | translate }}</mat-label>
            <input matInput formControlName="description" />
          </mat-form-field>

          <mat-form-field class="col-sm-12">
            <mat-label>{{ 'Introduction' | translate }}</mat-label>
            <textarea matInput formControlName="introduction" rows="2"></textarea>
          </mat-form-field>

          <mat-form-field class="col-sm-12">
            <mat-label>{{ 'MetaDescription' | translate }}</mat-label>
            <textarea matInput formControlName="metaDescription" rows="2"></textarea>
          </mat-form-field>

          <mat-form-field class="col-sm-12">
            <mat-label>{{ 'MetaKeywords' | translate }}</mat-label>
            <textarea matInput formControlName="metaKeywords" rows="2"></textarea>
          </mat-form-field>
        </div>
      </tab-item>
    </tab-group>
  </form>

  <!-- <pre dir="ltr" style="text-align: left;">{{form.value|json}}</pre> -->
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close color="cancel">{{ 'Cancel' | translate }}</button>
  <button mat-raised-button color="primary" (click)="save()" cdkFocusInitial [disabled]="loading || saving">
    <mat-spinner *ngIf="saving" color="primary" diameter="25"></mat-spinner>
    <span>{{ 'Save' | translate }}</span>
  </button>
</mat-dialog-actions>
