<sub-header [title]="'Menus' | translate"></sub-header>
<div class="panel-content">
  @if (loading) {
    <mat-progress-bar class="my-5" [mode]="'indeterminate'"></mat-progress-bar>
  }
  @if (!loading) {
    <div cdkDropListGroup>
      <app-tree-menu [list]="list"></app-tree-menu>
    </div>
  }
  @if (!loading && (AppPermissions.MenuManagement_Edit | permission)) {
    <div
      class="d-flex align-items-end justify-content-end"
      >
      <button mat-raised-button color="primary" (click)="save()" [disabled]="isSaving">
        {{ 'Save' | translate }}
      </button>
    </div>
  }
</div>
