<sub-header [title]="'Menus' | translate"></sub-header>
<div class="panel-content">
  <mat-progress-bar *ngIf="loading" class="my-5" [mode]="'indeterminate'"></mat-progress-bar>
  <div cdkDropListGroup *ngIf="!loading">
    <app-tree-menu [list]="list"></app-tree-menu>
  </div>
  <div
    class="d-flex align-items-end justify-content-end"
    *ngIf="!loading && (AppPermissions.MenuManagement_Edit | permission)">
    <button mat-raised-button color="primary" (click)="save()" [disabled]="isSaving">
      {{ 'Save' | translate }}
    </button>
  </div>
</div>
