.btn-group {
  border: 1px #a7a6a6 solid;
  border-radius: 5px;
  button {
    padding: 4px 12px;
    border: none;
    outline: none;
    background: none;
    border-right: 1px #a7a6a6 solid;
    i {
      font-weight: 400;
    }
    &:last-child {
      border-right: none;
    }
    &.active {
      background: var(--primaryColor);
    }
  }
}

.m-w-50 {
  max-width: 50px;
}
.input-color {
  border-radius: 50% !important;
  width: 38px;
  height: 38px;
  padding: 0;
  outline: 0;
  border: 2px #727171 solid;
  margin: 0 8px;
  min-width: 38px;
}
.sel-prefix {
  max-width: 34px;
  padding: 6px;
}
