<p>ID: {{ b.selectedBlock?.id }}</p>
<p>RowNumber: {{ b.selectedBlock?.rowNumber }}</p>
@if (b.selectedBlock) {
  <p>Type: {{ BlockTypeEnum[b.selectedBlock.type] }}</p>
}

@if (b.selectedBlock) {
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" [class.active]="tab == 'General'" (click)="tab = 'General'">General</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [class.active]="tab == 'Advanced'" (click)="tab = 'Advanced'">Advanced</a>
    </li>
  </ul>

  @if (tab == 'General') {
    <div>
      @if (b.selectedBlock.data) {
        @if (b.selectedBlock.data.style) {
          <details open>
            <summary>Layout</summary>
            <style-general
              [style]="b.selectedBlock.data.style"
              [block]="b.selectedBlock"
            (styleChange)="updateCss()"></style-general>
          </details>
        }
        @if (b.selectedBlock.data && b.selectedBlock.data.style) {
          <details>
            <summary>Background</summary>
            <style-background
              [id]="'prpbg-' + b.selectedBlock.id"
              [block]="b.selectedBlock"
              [style]="b.selectedBlock.data.style"
            (styleChange)="updateCss()"></style-background>
          </details>
        }
        @if (b.selectedBlock.data.style) {
          <details>
            <summary>Dimenstions</summary>
            <style-dimensions
              [id]="'prpdim-' + b.selectedBlock.id"
              [block]="b.selectedBlock"
              [style]="b.selectedBlock.data.style"
            (styleChange)="updateCss()"></style-dimensions>
          </details>
        }
        @if (b.selectedBlock.data.css) {
          <pre
            class="cssStyles"
          [innerHtml]="b.selectedBlock.data.css | styleView"></pre>
        }
      }
    </div>
  } @else if (tab == 'Advanced') {
    <div class="p-2">
      <button class="btn btn-primary" (click)="saveAsBlockDefinition()">Save as block</button>
      <block-attributes [block]="b.selectedBlock"></block-attributes>
    </div>
  }
}
