<p>properties works!</p>
<div *ngIf="b.selectedBlock">
  <p>ID: {{ b.selectedBlock.id }}</p>
  <p>Type: {{ BlockTypeEnum[b.selectedBlock.type] }}</p>
  <p>RowNumber: {{ b.selectedBlock.rowNumber }}</p>
  <details>
    <summary>Layout</summary>
    <p>Padding</p>
    <style-spacing [(ngModel)]="b.selectedBlock.data.style.padding" (ngModelChange)="updateCss()"></style-spacing>
    <p>Margin</p>
    <style-spacing [(ngModel)]="b.selectedBlock.data.style.margin" (ngModelChange)="updateCss()"></style-spacing>
  </details>

  <details>
    <summary>Border</summary>
    <style-border
      [(ngModel)]="b.selectedBlock.data.style.border"
      (css)="borderCss = $event; updateCss()"></style-border>
  </details>
  <details>
    <summary>Shadow</summary>
    <style-shadow [(ngModel)]="b.selectedBlock.data.style.boxShadow" (ngModelChange)="updateCss()"></style-shadow>
  </details>
  <pre class="cssStyles">
      {{ b.selectedBlock.data.css }}
  </pre>
</div>
