<sub-header [title]="'Maintenance' | translate"></sub-header>
<div class="panel-content">
  <m-tab-group>
    @if (AppPermissions.Maintenance_Cache_List | permission) {
      <m-tab-item [title]="'CacheManagement' | translate">
        <app-cache></app-cache>
      </m-tab-item>
    }

    @if (AppPermissions.LoggingSystem_AppLogs_List | permission) {
      <m-tab-item [title]="'AppLogs' | translate">
        <app-database-logs></app-database-logs>
      </m-tab-item>
    }
    @if (AppPermissions.LoggingSystem_AppLogs_List | permission) {
      <m-tab-item [title]="'AuditLogs' | translate">
        <app-database-logs></app-database-logs>
      </m-tab-item>
    }
    @if (AppPermissions.LoggingSystem_AppLogs_List | permission) {
      <m-tab-item [title]="'SecurityLogs' | translate">
        <app-database-logs></app-database-logs>
      </m-tab-item>
    }
  </m-tab-group>
</div>
