@if (signalRService.isConnecting) {
  <div class="d-flex align-items-center justify-content-center">
    <mat-spinner color="primary" diameter="30"></mat-spinner>
  </div>
}

<div class="list-container">
  @for (item of steps; track $index) {
    <div class="list-item">
      <span>{{ 'TenantProvisionStepsEnum_' + item.step | translate }}</span>
      <span [title]="'ProvisioningStepStatus_' + item.stepStatus | translate" class="status">
        @switch (item.stepStatus) {
          @case (ProvisioningStepStatus.Pending) {
            <i class="fa fa-circle-stop"></i>
          }
          @case (ProvisioningStepStatus.InProgress) {
            <i class="fa fa-hourglass-clock"></i>
          }
          @case (ProvisioningStepStatus.Completed) {
            <i class="fa fa-circle-check"></i>
          }
        }
      </span>
    </div>
  }
</div>
