<p>provisioning-tenant works!</p>Angular is running in development mode.
_module-chunk.mjs:1206  GET https://localhost:44343/api/User/GetCurrentUser 401 (Unauthorized)
(anonymous) @ _module-chunk.mjs:1206
(anonymous) @ Observable.js:38
(anonymous) @ Observable.js:32
errorContext @ errorContext.js:19
(anonymous) @ Observable.js:23
(anonymous) @ switchMap.js:14
(anonymous) @ OperatorSubscriber.js:15
(anonymous) @ Subscriber.js:34
(anonymous) @ innerFrom.js:51
(anonymous) @ Observable.js:38
(anonymous) @ Observable.js:32
errorContext @ errorContext.js:19
(anonymous) @ Observable.js:23
(anonymous) @ switchMap.js:10
(anonymous) @ lift.js:10
(anonymous) @ Observable.js:27
errorContext @ errorContext.js:19
(anonymous) @ Observable.js:23
(anonymous) @ catchError.js:9
(anonymous) @ lift.js:10
(anonymous) @ Observable.js:27
errorContext @ errorContext.js:19
(anonymous) @ Observable.js:23
(anonymous) @ finalize.js:5
(anonymous) @ lift.js:10
(anonymous) @ Observable.js:27
errorContext @ errorContext.js:19
(anonymous) @ Observable.js:23
(anonymous) @ finalize.js:5
(anonymous) @ lift.js:10
(anonymous) @ Observable.js:27
errorContext @ errorContext.js:19
(anonymous) @ Observable.js:23
(anonymous) @ mergeInternals.js:19
(anonymous) @ mergeInternals.js:14
(anonymous) @ OperatorSubscriber.js:15
(anonymous) @ Subscriber.js:34
(anonymous) @ innerFrom.js:51
(anonymous) @ Observable.js:38
(anonymous) @ Observable.js:32
errorContext @ errorContext.js:19
(anonymous) @ Observable.js:23
mergeInternals @ mergeInternals.js:53
(anonymous) @ mergeMap.js:14
(anonymous) @ lift.js:10
(anonymous) @ Observable.js:27
errorContext @ errorContext.js:19
(anonymous) @ Observable.js:23
(anonymous) @ filter.js:6
(anonymous) @ lift.js:10
(anonymous) @ Observable.js:27
errorContext @ errorContext.js:19
(anonymous) @ Observable.js:23
(anonymous) @ map.js:6
(anonymous) @ lift.js:10
(anonymous) @ Observable.js:27
errorContext @ errorContext.js:19
(anonymous) @ Observable.js:23
(anonymous) @ auth.service.ts:156
getCurrentUserValue @ auth.service.ts:155
(anonymous) @ panel.resolver.ts:12
(anonymous) @ _router-chunk.mjs:3143
runInInjectionContext @ _untracked-chunk.mjs:1458
getResolver @ _router-chunk.mjs:3143
(anonymous) @ _router-chunk.mjs:3133
(anonymous) @ mergeInternals.js:19
(anonymous) @ mergeInternals.js:14
(anonymous) @ OperatorSubscriber.js:15
(anonymous) @ Subscriber.js:34
(anonymous) @ innerFrom.js:51
(anonymous) @ Observable.js:38
(anonymous) @ Observable.js:32
errorContext @ errorContext.js:19
(anonymous) @ Observable.js:23
mergeInternals @ mergeInternals.js:53
(anonymous) @ mergeMap.js:14
(anonymous) @ lift.js:10
(anonymous) @ Observable.js:27
errorContext @ errorContext.js:19
(anonymous) @ Observable.js:23
(anonymous) @ takeLast.js:10
(anonymous) @ lift.js:10
(anonymous) @ Observable.js:27
errorContext @ errorContext.js:19
(anonymous) @ Observable.js:23
(anonymous) @ map.js:6
(anonymous) @ lift.js:10
(anonymous) @ Observable.js:27
errorContext @ errorContext.js:19
(anonymous) @ Observable.js:23
(anonymous) @ catchError.js:9
(anonymous) @ lift.js:10
(anonymous) @ Observable.js:27
errorContext @ errorContext.js:19
(anonymous) @ Observable.js:23
(anonymous) @ map.js:6
(anonymous) @ lift.js:10
(anonymous) @ Observable.js:27
errorContext @ errorContext.js:19
(anonymous) @ Observable.js:23
(anonymous) @ defer.js:5
(anonymous) @ Observable.js:38
(anonymous) @ Observable.js:32
errorContext @ errorContext.js:19
(anonymous) @ Observable.js:23
(anonymous) @ mergeInternals.js:19
(anonymous) @ mergeInternals.js:14
(anonymous) @ OperatorSubscriber.js:15
(anonymous) @ Subscriber.js:34
(anonymous) @ innerFrom.js:74
(anonymous) @ Observable.js:38
(anonymous) @ Observable.js:32
errorContext @ errorContext.js:19
(anonymous) @ Observable.js:23
mergeInternals @ mergeInternals.js:53
(anonymous) @ mergeMap.js:14
(anonymous) @ lift.js:10
(anonymous) @ Observable.js:27
errorContext @ errorContext.js:19
(anonymous) @ Observable.js:23
(anonymous) @ tap.js:15
(anonymous) @ lift.js:10
(anonymous) @ Observable.js:27
errorContext @ errorContext.js:19
(anonymous) @ Observable.js:23
(anonymous) @ takeLast.js:10
(anonymous) @ lift.js:10
(anonymous) @ Observable.js:27
errorContext @ errorContext.js:19
(anonymous) @ Observable.js:23
mergeInternals @ mergeInternals.js:53
(anonymous) @ mergeMap.js:14
(anonymous) @ lift.js:10
(anonymous) @ Observable.js:27
errorContext @ errorContext.js:19
(anonymous) @ Observable.js:23
(anonymous) @ mergeInternals.js:19
(anonymous) @ mergeInternals.js:14
(anonymous) @ OperatorSubscriber.js:15
(anonymous) @ Subscriber.js:34
(anonymous) @ innerFrom.js:51
(anonymous) @ Observable.js:38
(anonymous) @ Observable.js:32
errorContext @ errorContext.js:19
(anonymous) @ Observable.js:23
mergeInternals @ mergeInternals.js:53
(anonymous) @ mergeMap.js:14
(anonymous) @ lift.js:10
(anonymous) @ Observable.js:27
errorContext @ errorContext.js:19
(anonymous) @ Observable.js:23
(anonymous) @ tap.js:15
(anonymous) @ lift.js:10
(anonymous) @ Observable.js:27
errorContext @ errorContext.js:19
(anonymous) @ Observable.js:23
(anonymous) @ switchMap.js:14
(anonymous) @ OperatorSubscriber.js:15
(anonymous) @ Subscriber.js:34
(anonymous) @ mergeInternals.js:25
(anonymous) @ OperatorSubscriber.js:15
(anonymous) @ Subscriber.js:34
(anonymous) @ map.js:7
(anonymous) @ OperatorSubscriber.js:15
(anonymous) @ Subscriber.js:34
(anonymous) @ mergeInternals.js:25
(anonymous) @ OperatorSubscriber.js:15
(anonymous) @ Subscriber.js:34
(anonymous) @ defaultIfEmpty.js:11
(anonymous) @ OperatorSubscriber.js:38
(anonymous) @ Subscriber.js:52
(anonymous) @ Subscriber.js:75
(anonymous) @ Subscriber.js:52
(anonymous) @ Subscriber.js:75
(anonymous) @ Subscriber.js:52
(anonymous) @ mergeInternals.js:11
(anonymous) @ mergeInternals.js:55
(anonymous) @ OperatorSubscriber.js:38
(anonymous) @ Subscriber.js:52
(anonymous) @ innerFrom.js:53
(anonymous) @ Observable.js:38
(anonymous) @ Observable.js:32
errorContext @ errorContext.js:19
(anonymous) @ Observable.js:23
mergeInternals @ mergeInternals.js:53
(anonymous) @ mergeMap.js:14
(anonymous) @ lift.js:10
(anonymous) @ Observable.js:27
errorContext @ errorContext.js:19
(anonymous) @ Observable.js:23
(anonymous) @ filter.js:6
(anonymous) @ lift.js:10
(anonymous) @ Observable.js:27
errorContext @ errorContext.js:19
(anonymous) @ Observable.js:23
(anonymous) @ take.js:10
(anonymous) @ lift.js:10
(anonymous) @ Observable.js:27
errorContext @ errorContext.js:19
(anonymous) @ Observable.js:23
Promise.then
(anonymous) @ innerFrom.js:59
(anonymous) @ Observable.js:38
(anonymous) @ Observable.js:32
errorContext @ errorContext.js:19
(anonymous) @ Observable.js:23
(anonymous) @ mergeInternals.js:19
(anonymous) @ mergeInternals.js:14
(anonymous) @ OperatorSubscriber.js:15
(anonymous) @ Subscriber.js:34
(anonymous) @ switchMap.js:14
(anonymous) @ OperatorSubscriber.js:15
(anonymous) @ Subscriber.js:34
(anonymous) @ innerFrom.js:61
Promise.then
(anonymous) @ innerFrom.js:59
(anonymous) @ Observable.js:38
(anonymous) @ Observable.js:32
errorContext @ errorContext.js:19
(anonymous) @ Observable.js:23
(anonymous) @ switchMap.js:14
(anonymous) @ OperatorSubscriber.js:15
(anonymous) @ Subscriber.js:34
(anonymous) @ innerFrom.js:51
(anonymous) @ Observable.js:38
(anonymous) @ Observable.js:32
errorContext @ errorContext.js:19
(anonymous) @ Observable.js:23
(anonymous) @ switchMap.js:10
(anonymous) @ lift.js:10
(anonymous) @ Observable.js:27
errorContext @ errorContext.js:19
(anonymous) @ Observable.js:23
mergeInternals @ mergeInternals.js:53
(anonymous) @ mergeMap.js:14
(anonymous) @ lift.js:10
(anonymous) @ Observable.js:27
errorContext @ errorContext.js:19
(anonymous) @ Observable.js:23
(anonymous) @ tap.js:15
(anonymous) @ lift.js:10
(anonymous) @ Observable.js:27
errorContext @ errorContext.js:19
(anonymous) @ Observable.js:23
(anonymous) @ switchMap.js:14
(anonymous) @ OperatorSubscriber.js:15
(anonymous) @ Subscriber.js:34
(anonymous) @ innerFrom.js:51
(anonymous) @ Observable.js:38
(anonymous) @ Observable.js:32
errorContext @ errorContext.js:19
(anonymous) @ Observable.js:23
(anonymous) @ switchMap.js:10
(anonymous) @ lift.js:10
(anonymous) @ Observable.js:27
errorContext @ errorContext.js:19
(anonymous) @ Observable.js:23
(anonymous) @ map.js:6
(anonymous) @ lift.js:10
(anonymous) @ Observable.js:27
errorContext @ errorContext.js:19
(anonymous) @ Observable.js:23
mergeInternals @ mergeInternals.js:53
(anonymous) @ mergeMap.js:14
(anonymous) @ lift.js:10
(anonymous) @ Observable.js:27
errorContext @ errorContext.js:19
(anonymous) @ Observable.js:23
(anonymous) @ switchMap.js:10
(anonymous) @ lift.js:10
(anonymous) @ Observable.js:27
errorContext @ errorContext.js:19
(anonymous) @ Observable.js:23
(anonymous) @ switchMap.js:10
(anonymous) @ lift.js:10
(anonymous) @ Observable.js:27
errorContext @ errorContext.js:19
(anonymous) @ Observable.js:23
(anonymous) @ switchMap.js:10
(anonymous) @ lift.js:10
(anonymous) @ Observable.js:27
errorContext @ errorContext.js:19
(anonymous) @ Observable.js:23
(anonymous) @ switchMap.js:10
(anonymous) @ lift.js:10
(anonymous) @ Observable.js:27
errorContext @ errorContext.js:19
(anonymous) @ Observable.js:23
(anonymous) @ take.js:10
(anonymous) @ lift.js:10
(anonymous) @ Observable.js:27
errorContext @ errorContext.js:19
(anonymous) @ Observable.js:23
(anonymous) @ map.js:6
(anonymous) @ lift.js:10
(anonymous) @ Observable.js:27
errorContext @ errorContext.js:19
(anonymous) @ Observable.js:23
(anonymous) @ takeUntil.js:8
(anonymous) @ lift.js:10
(anonymous) @ Observable.js:27
errorContext @ errorContext.js:19
(anonymous) @ Observable.js:23
(anonymous) @ tap.js:15
(anonymous) @ lift.js:10
(anonymous) @ Observable.js:27
errorContext @ errorContext.js:19
(anonymous) @ Observable.js:23
(anonymous) @ takeUntil.js:8
(anonymous) @ lift.js:10
(anonymous) @ Observable.js:27
errorContext @ errorContext.js:19
(anonymous) @ Observable.js:23
(anonymous) @ finalize.js:5
(anonymous) @ lift.js:10
(anonymous) @ Observable.js:27
errorContext @ errorContext.js:19
(anonymous) @ Observable.js:23
(anonymous) @ catchError.js:9
(anonymous) @ lift.js:10
(anonymous) @ Observable.js:27
errorContext @ errorContext.js:19
(anonymous) @ Observable.js:23
(anonymous) @ switchMap.js:14
(anonymous) @ OperatorSubscriber.js:15
(anonymous) @ Subscriber.js:34
(anonymous) @ filter.js:6
(anonymous) @ OperatorSubscriber.js:15
(anonymous) @ Subscriber.js:34
(anonymous) @ Subject.js:41
errorContext @ errorContext.js:19
(anonymous) @ Subject.js:31
(anonymous) @ BehaviorSubject.js:31
(anonymous) @ _router-chunk.mjs:3505
untracked @ _effect-chunk.mjs:403
untracked @ _untracked-chunk.mjs:2969
handleNavigationRequest @ _router-chunk.mjs:3504
scheduleNavigation @ _router-chunk.mjs:4391
navigateToSyncWithBrowser @ _router-chunk.mjs:4249
initialNavigation @ _router-chunk.mjs:4225
(anonymous) @ _router_module-chunk.mjs:1001
(anonymous) @ _debug_node-chunk.mjs:12017
_loadComponent @ _debug_node-chunk.mjs:12017
(anonymous) @ _debug_node-chunk.mjs:11881
run @ _untracked-chunk.mjs:2562
bootstrapImpl @ _debug_node-chunk.mjs:11849
bootstrap @ _debug_node-chunk.mjs:11845
(anonymous) @ core.mjs:672
Promise.then
(anonymous) @ core.mjs:654
_callAndReportToErrorHandler @ core.mjs:700
(anonymous) @ core.mjs:649
run @ _untracked-chunk.mjs:2562
bootstrap @ core.mjs:613
internalCreateApplication @ core.mjs:2151
bootstrapApplication @ _browser-chunk.mjs:267
(anonymous) @ main.ts:5
2signalr.service.ts:27 ✅ SignalR connected via WebSocket
provisioning-tenant.component.ts:52 ✅ Joined group: tenant-ggbfg5
WebSocketTransport.js:55 WebSocket connection to 'wss://localhost:44343/hubs/notifications?access_token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIwMTNhNWIxMy1hYjlhLTQzMTAtNWMzYy0wOGRlYjAyNDk5ZDkiLCJ1bmlxdWVfbmFtZSI6InNhbWFuaSIsImxhbmciOiJlbi1VUyIsImh0dHA6Ly9zY2hlbWFzLm1pY3Jvc29mdC5jb20vd3MvMjAwOC8wNi9pZGVudGl0eS9jbGFpbXMvcm9sZSI6IkFkbWluaXN0cmF0b3IiLCJleHAiOjE3Nzg2ODQ3MDUsImlzcyI6IlNhbWFuaUNybSIsImF1ZCI6IlNhbWFuaUNybUNsaWVudCJ9.zKoACC0gnIT33FTokTg6f8c-_TmXGrqSRwDxFB3MQUs' failed: 
(anonymous) @ WebSocketTransport.js:55
connect @ WebSocketTransport.js:28
provisioning-tenant.component.ts:69 ❌ Failed to leave group: Error: Invocation canceled due to the underlying connection being closed.
    at _HubConnection._connectionClosed (HubConnection.js:645:49)
    at connection.onclose (HubConnection.js:54:51)
    at HttpConnection._stopConnection (HttpConnection.js:441:26)
    at transport.onclose (HttpConnection.js:360:50)
    at WebSocketTransport._close (WebSocketTransport.js:147:22)
    at WebSocketTransport.stop (WebSocketTransport.js:124:18)
    at HttpConnection._stopInternal (HttpConnection.js:134:38)
    at async HttpConnection.stop (HttpConnection.js:115:9)
    at async _HubConnection.stop (HubConnection.js:195:9)
(anonymous) @ provisioning-tenant.component.ts:69
Promise.catch
leaveTenantGroup @ provisioning-tenant.component.ts:68
ngOnDestroy @ provisioning-tenant.component.ts:40
executeOnDestroys @ _debug_node-chunk.mjs:4595
cleanUpView @ _debug_node-chunk.mjs:4473
destroyViewTree @ _debug_node-chunk.mjs:4440
destroyLView @ _debug_node-chunk.mjs:4462
destroy @ _debug_node-chunk.mjs:5866
destroy @ _debug_node-chunk.mjs:8432
deactivate @ _router-chunk.mjs:1697
deactivateRouteAndOutlet @ _router-chunk.mjs:2056
deactivateRouteAndItsChildren @ _router-chunk.mjs:2027
deactivateRoutes @ _router-chunk.mjs:2019
(anonymous) @ _router-chunk.mjs:1998
deactivateChildRoutes @ _router-chunk.mjs:1996
deactivateRoutes @ _router-chunk.mjs:2015
(anonymous) @ _router-chunk.mjs:1998
deactivateChildRoutes @ _router-chunk.mjs:1996
deactivateRoutes @ _router-chunk.mjs:2012
(anonymous) @ _router-chunk.mjs:1998
deactivateChildRoutes @ _router-chunk.mjs:1996
deactivateRoutes @ _router-chunk.mjs:2015
(anonymous) @ _router-chunk.mjs:1998
deactivateChildRoutes @ _router-chunk.mjs:1996
activate @ _router-chunk.mjs:1990
(anonymous) @ _router-chunk.mjs:3687
(anonymous) @ map.js:7
(anonymous) @ OperatorSubscriber.js:15
(anonymous) @ Subscriber.js:34
(anonymous) @ take.js:12
(anonymous) @ OperatorSubscriber.js:15
(anonymous) @ Subscriber.js:34
(anonymous) @ switchMap.js:14
(anonymous) @ OperatorSubscriber.js:15
(anonymous) @ Subscriber.js:34
(anonymous) @ innerFrom.js:51
(anonymous) @ Observable.js:38
(anonymous) @ Observable.js:32
errorContext @ errorContext.js:19
(anonymous) @ Observable.js:23
(anonymous) @ switchMap.js:14
(anonymous) @ OperatorSubscriber.js:15
(anonymous) @ Subscriber.js:34
(anonymous) @ switchMap.js:14
(anonymous) @ OperatorSubscriber.js:15
(anonymous) @ Subscriber.js:34
(anonymous) @ map.js:7
(anonymous) @ OperatorSubscriber.js:15
(anonymous) @ Subscriber.js:34
(anonymous) @ innerFrom.js:51
(anonymous) @ Observable.js:38
(anonymous) @ Observable.js:32
errorContext @ errorContext.js:19
(anonymous) @ Observable.js:23
(anonymous) @ map.js:6
(anonymous) @ lift.js:10
(anonymous) @ Observable.js:27
errorContext @ errorContext.js:19
(anonymous) @ Observable.js:23
(anonymous) @ switchMap.js:14
(anonymous) @ OperatorSubscriber.js:15
(anonymous) @ Subscriber.js:34
(anonymous) @ switchMap.js:14
(anonymous) @ OperatorSubscriber.js:15
(anonymous) @ Subscriber.js:34
(anonymous) @ map.js:7
(anonymous) @ OperatorSubscriber.js:15
(anonymous) @ Subscriber.js:34
(anonymous) @ innerFrom.js:51
(anonymous) @ Observable.js:38
(anonymous) @ Observable.js:32
errorContext @ errorContext.js:19
(anonymous) @ Observable.js:23
(anonymous) @ map.js:6
(anonymous) @ lift.js:10
(anonymous) @ Observable.js:27
errorContext @ errorContext.js:19
(anonymous) @ Observable.js:23
(anonymous) @ switchMap.js:14
(anonymous) @ OperatorSubscriber.js:15
(anonymous) @ Subscriber.js:34
(anonymous) @ switchMap.js:14
(anonymous) @ OperatorSubscriber.js:15
(anonymous) @ Subscriber.js:34
(anonymous) @ tap.js:18
(anonymous) @ OperatorSubscriber.js:15
(anonymous) @ Subscriber.js:34
(anonymous) @ mergeInternals.js:25
(anonymous) @ OperatorSubscriber.js:15
(anonymous) @ Subscriber.js:34
(anonymous) @ mergeInternals.js:25
(anonymous) @ OperatorSubscriber.js:15
(anonymous) @ Subscriber.js:34
(anonymous) @ innerFrom.js:51
(anonymous) @ Observable.js:38
(anonymous) @ Observable.js:32
errorContext @ errorContext.js:19
(anonymous) @ Observable.js:23
(anonymous) @ mergeInternals.js:19
(anonymous) @ mergeInternals.js:14
(anonymous) @ OperatorSubscriber.js:15
(anonymous) @ Subscriber.js:34
(anonymous) @ takeLast.js:18
(anonymous) @ OperatorSubscriber.js:38
(anonymous) @ Subscriber.js:52
(anonymous) @ tap.js:23
(anonymous) @ OperatorSubscriber.js:38
(anonymous) @ Subscriber.js:52
(anonymous) @ mergeInternals.js:11
(anonymous) @ mergeInternals.js:55
(anonymous) @ OperatorSubscriber.js:38
(anonymous) @ Subscriber.js:52
(anonymous) @ innerFrom.js:87
(anonymous) @ Observable.js:38
(anonymous) @ Observable.js:32
errorContext @ errorContext.js:19
(anonymous) @ Observable.js:23
mergeInternals @ mergeInternals.js:53
(anonymous) @ mergeMap.js:14
(anonymous) @ lift.js:10
(anonymous) @ Observable.js:27
errorContext @ errorContext.js:19
(anonymous) @ Observable.js:23
(anonymous) @ tap.js:15
(anonymous) @ lift.js:10
(anonymous) @ Observable.js:27
errorContext @ errorContext.js:19
(anonymous) @ Observable.js:23
(anonymous) @ takeLast.js:10
(anonymous) @ lift.js:10
(anonymous) @ Observable.js:27
errorContext @ errorContext.js:19
(anonymous) @ Observable.js:23
mergeInternals @ mergeInternals.js:53
(anonymous) @ mergeMap.js:14
(anonymous) @ lift.js:10
(anonymous) @ Observable.js:27
errorContext @ errorContext.js:19
(anonymous) @ Observable.js:23
(anonymous) @ mergeInternals.js:19
(anonymous) @ mergeInternals.js:14
(anonymous) @ OperatorSubscriber.js:15
(anonymous) @ Subscriber.js:34
(anonymous) @ innerFrom.js:51
(anonymous) @ Observable.js:38
(anonymous) @ Observable.js:32
errorContext @ errorContext.js:19
(anonymous) @ Observable.js:23
mergeInternals @ mergeInternals.js:53
(anonymous) @ mergeMap.js:14
(anonymous) @ lift.js:10
(anonymous) @ Observable.js:27
errorContext @ errorContext.js:19
(anonymous) @ Observable.js:23
(anonymous) @ tap.js:15
(anonymous) @ lift.js:10
(anonymous) @ Observable.js:27
errorContext @ errorContext.js:19
(anonymous) @ Observable.js:23
(anonymous) @ switchMap.js:14
(anonymous) @ OperatorSubscriber.js:15
(anonymous) @ Subscriber.js:34
(anonymous) @ mergeInternals.js:25
(anonymous) @ OperatorSubscriber.js:15
(anonymous) @ Subscriber.js:34
(anonymous) @ map.js:7
(anonymous) @ OperatorSubscriber.js:15
(anonymous) @ Subscriber.js:34
(anonymous) @ mergeInternals.js:25
(anonymous) @ OperatorSubscriber.js:15
(anonymous) @ Subscriber.js:34
(anonymous) @ defaultIfEmpty.js:11
(anonymous) @ OperatorSubscriber.js:38
(anonymous) @ Subscriber.js:52
(anonymous) @ Subscriber.js:75
(anonymous) @ Subscriber.js:52
(anonymous) @ Subscriber.js:75
(anonymous) @ Subscriber.js:52
(anonymous) @ mergeInternals.js:11
(anonymous) @ mergeInternals.js:55
(anonymous) @ OperatorSubscriber.js:38
(anonymous) @ Subscriber.js:52
(anonymous) @ innerFrom.js:53
(anonymous) @ Observable.js:38
(anonymous) @ Observable.js:32
errorContext @ errorContext.js:19
(anonymous) @ Observable.js:23
mergeInternals @ mergeInternals.js:53
(anonymous) @ mergeMap.js:14
(anonymous) @ lift.js:10
(anonymous) @ Observable.js:27
errorContext @ errorContext.js:19
(anonymous) @ Observable.js:23
(anonymous) @ filter.js:6
(anonymous) @ lift.js:10
(anonymous) @ Observable.js:27
errorContext @ errorContext.js:19
(anonymous) @ Observable.js:23
(anonymous) @ take.js:10
(anonymous) @ lift.js:10
(anonymous) @ Observable.js:27
Promise.then
(anonymous) @ innerFrom.js:59
(anonymous) @ Observable.js:38
(anonymous) @ Observable.js:32
errorContext @ errorContext.js:19
(anonymous) @ Observable.js:23
(anonymous) @ mergeInternals.js:19
(anonymous) @ mergeInternals.js:14
(anonymous) @ OperatorSubscriber.js:15
(anonymous) @ Subscriber.js:34
(anonymous) @ switchMap.js:14
(anonymous) @ OperatorSubscriber.js:15
(anonymous) @ Subscriber.js:34
(anonymous) @ innerFrom.js:61
Promise.then
(anonymous) @ innerFrom.js:59
(anonymous) @ Observable.js:38
(anonymous) @ Observable.js:32
errorContext @ errorContext.js:19
(anonymous) @ Observable.js:23
(anonymous) @ switchMap.js:14
(anonymous) @ OperatorSubscriber.js:15
(anonymous) @ Subscriber.js:34
(anonymous) @ innerFrom.js:51
(anonymous) @ Observable.js:38
(anonymous) @ Observable.js:32
errorContext @ errorContext.js:19
(anonymous) @ Observable.js:23
(anonymous) @ switchMap.js:10
(anonymous) @ lift.js:10
(anonymous) @ Observable.js:27
errorContext @ errorContext.js:19
(anonymous) @ Observable.js:23
mergeInternals @ mergeInternals.js:53
(anonymous) @ mergeMap.js:14
(anonymous) @ lift.js:10
(anonymous) @ Observable.js:27
errorContext @ errorContext.js:19
(anonymous) @ Observable.js:23
(anonymous) @ tap.js:15
(anonymous) @ lift.js:10
(anonymous) @ Observable.js:27
errorContext @ errorContext.js:19
(anonymous) @ Observable.js:23
(anonymous) @ switchMap.js:14
(anonymous) @ OperatorSubscriber.js:15
(anonymous) @ Subscriber.js:34
(anonymous) @ innerFrom.js:51
(anonymous) @ Observable.js:38
(anonymous) @ Observable.js:32
errorContext @ errorContext.js:19
(anonymous) @ Observable.js:23
(anonymous) @ switchMap.js:10
(anonymous) @ lift.js:10
(anonymous) @ Observable.js:27
errorContext @ errorContext.js:19
(anonymous) @ Observable.js:23
(anonymous) @ map.js:6
(anonymous) @ lift.js:10
(anonymous) @ Observable.js:27
errorContext @ errorContext.js:19
(anonymous) @ Observable.js:23
mergeInternals @ mergeInternals.js:53
(anonymous) @ mergeMap.js:14
(anonymous) @ lift.js:10
(anonymous) @ Observable.js:27
errorContext @ errorContext.js:19
(anonymous) @ Observable.js:23
(anonymous) @ switchMap.js:10
(anonymous) @ lift.js:10
(anonymous) @ Observable.js:27
errorContext @ errorContext.js:19
(anonymous) @ Observable.js:23
(anonymous) @ switchMap.js:10
(anonymous) @ lift.js:10
(anonymous) @ Observable.js:27
errorContext @ errorContext.js:19
(anonymous) @ Observable.js:23
(anonymous) @ switchMap.js:10
(anonymous) @ lift.js:10
(anonymous) @ Observable.js:27
errorContext @ errorContext.js:19
(anonymous) @ Observable.js:23
(anonymous) @ switchMap.js:10
(anonymous) @ lift.js:10
(anonymous) @ Observable.js:27
errorContext @ errorContext.js:19
(anonymous) @ Observable.js:23
(anonymous) @ take.js:10
(anonymous) @ lift.js:10
(anonymous) @ Observable.js:27
errorContext @ errorContext.js:19
(anonymous) @ Observable.js:23
(anonymous) @ map.js:6
(anonymous) @ lift.js:10
(anonymous) @ Observable.js:27
errorContext @ errorContext.js:19
(anonymous) @ Observable.js:23
(anonymous) @ takeUntil.js:8
(anonymous) @ lift.js:10
(anonymous) @ Observable.js:27
errorContext @ errorContext.js:19
(anonymous) @ Observable.js:23
(anonymous) @ tap.js:15
(anonymous) @ lift.js:10
(anonymous) @ Observable.js:27
errorContext @ errorContext.js:19
(anonymous) @ Observable.js:23
(anonymous) @ takeUntil.js:8
(anonymous) @ lift.js:10
(anonymous) @ Observable.js:27
errorContext @ errorContext.js:19
(anonymous) @ Observable.js:23
(anonymous) @ finalize.js:5
(anonymous) @ lift.js:10
(anonymous) @ Observable.js:27
errorContext @ errorContext.js:19
(anonymous) @ Observable.js:23
(anonymous) @ catchError.js:9
(anonymous) @ lift.js:10
(anonymous) @ Observable.js:27
errorContext @ errorContext.js:19
(anonymous) @ Observable.js:23
(anonymous) @ switchMap.js:14
(anonymous) @ OperatorSubscriber.js:15
(anonymous) @ Subscriber.js:34
(anonymous) @ filter.js:6
(anonymous) @ OperatorSubscriber.js:15
(anonymous) @ Subscriber.js:34
(anonymous) @ Subject.js:41
errorContext @ errorContext.js:19
(anonymous) @ Subject.js:31
(anonymous) @ BehaviorSubject.js:31
(anonymous) @ _router-chunk.mjs:3505
untracked @ _effect-chunk.mjs:403
untracked @ _untracked-chunk.mjs:2969
handleNavigationRequest @ _router-chunk.mjs:3504
scheduleNavigation @ _router-chunk.mjs:4391
navigateByUrl @ _router-chunk.mjs:4324
onClick @ _router_module-chunk.mjs:122
RouterLink_click_HostBindingHandler @ _router_module-chunk.mjs:167
executeListenerWithErrorHandling @ _debug_node-chunk.mjs:7959
wrapListenerIn_markDirtyAndPreventDefault @ _debug_node-chunk.mjs:7946
(anonymous) @ _dom_renderer-chunk.mjs:566
_module-chunk.mjs:1206  POST https://localhost:44343/api/Tenants/GetAllTenants 401 (Unauthorized)
(anonymous) @ _module-chunk.mjs:1206
(anonymous) @ Observable.js:38
(anonymous) @ Observable.js:32
errorContext @ errorContext.js:19
(anonymous) @ Observable.js:23
(anonymous) @ switchMap.js:14
(anonymous) @ OperatorSubscriber.js:15
(anonymous) @ Subscriber.js:34
(anonymous) @ innerFrom.js:51
(anonymous) @ Observable.js:38
(anonymous) @ Observable.js:32
errorContext @ errorContext.js:19
(anonymous) @ Observable.js:23
(anonymous) @ switchMap.js:10
(anonymous) @ lift.js:10
(anonymous) @ Observable.js:27
errorContext @ errorContext.js:19
(anonymous) @ Observable.js:23
(anonymous) @ catchError.js:9
(anonymous) @ lift.js:10
(anonymous) @ Observable.js:27
errorContext @ errorContext.js:19
(anonymous) @ Observable.js:23
(anonymous) @ finalize.js:5
(anonymous) @ lift.js:10
(anonymous) @ Observable.js:27
errorContext @ errorContext.js:19
(anonymous) @ Observable.js:23
(anonymous) @ finalize.js:5
(anonymous) @ lift.js:10
(anonymous) @ Observable.js:27
errorContext @ errorContext.js:19
(anonymous) @ Observable.js:23
(anonymous) @ mergeInternals.js:19
(anonymous) @ mergeInternals.js:14
(anonymous) @ OperatorSubscriber.js:15
(anonymous) @ Subscriber.js:34
(anonymous) @ innerFrom.js:51
(anonymous) @ Observable.js:38
(anonymous) @ Observable.js:32
errorContext @ errorContext.js:19
(anonymous) @ Observable.js:23
mergeInternals @ mergeInternals.js:53
(anonymous) @ mergeMap.js:14
(anonymous) @ lift.js:10
(anonymous) @ Observable.js:27
errorContext @ errorContext.js:19
(anonymous) @ Observable.js:23
(anonymous) @ filter.js:6
(anonymous) @ lift.js:10
(anonymous) @ Observable.js:27
errorContext @ errorContext.js:19
(anonymous) @ Observable.js:23
(anonymous) @ map.js:6
(anonymous) @ lift.js:10
(anonymous) @ Observable.js:27
errorContext @ errorContext.js:19
(anonymous) @ Observable.js:23
(anonymous) @ finalize.js:5
(anonymous) @ lift.js:10
(anonymous) @ Observable.js:27
errorContext @ errorContext.js:19
(anonymous) @ Observable.js:23
getList @ Tenants.component.ts:86
ngOnInit @ Tenants.component.ts:54
callHookInternal @ _debug_node-chunk.mjs:555
callHook @ _debug_node-chunk.mjs:570
callHooks @ _debug_node-chunk.mjs:544
executeInitAndCheckHooks @ _debug_node-chunk.mjs:513
refreshView @ _debug_node-chunk.mjs:5516
detectChangesInView @ _debug_node-chunk.mjs:5644
detectChangesInViewIfAttached @ _debug_node-chunk.mjs:5627
detectChangesInEmbeddedViews @ _debug_node-chunk.mjs:5598
refreshView @ _debug_node-chunk.mjs:5525
detectChangesInView @ _debug_node-chunk.mjs:5644
detectChangesInViewIfAttached @ _debug_node-chunk.mjs:5627
detectChangesInComponent @ _debug_node-chunk.mjs:5618
detectChangesInChildComponents @ _debug_node-chunk.mjs:5666
refreshView @ _debug_node-chunk.mjs:5546
detectChangesInView @ _debug_node-chunk.mjs:5644
detectChangesInViewIfAttached @ _debug_node-chunk.mjs:5627
detectChangesInEmbeddedViews @ _debug_node-chunk.mjs:5598
refreshView @ _debug_node-chunk.mjs:5525
detectChangesInView @ _debug_node-chunk.mjs:5644
detectChangesInViewIfAttached @ _debug_node-chunk.mjs:5627
detectChangesInComponent @ _debug_node-chunk.mjs:5618
detectChangesInChildComponents @ _debug_node-chunk.mjs:5666
refreshView @ _debug_node-chunk.mjs:5546
detectChangesInView @ _debug_node-chunk.mjs:5644
detectChangesInViewWhileDirty @ _debug_node-chunk.mjs:5453
detectChangesInternal @ _debug_node-chunk.mjs:5442
synchronizeOnce @ _debug_node-chunk.mjs:11964
synchronize @ _debug_node-chunk.mjs:11938
(anonymous) @ _debug_node-chunk.mjs:11913
_tick @ _debug_node-chunk.mjs:11901
(anonymous) @ _debug_node-chunk.mjs:18394
run @ _untracked-chunk.mjs:2562
tick @ _debug_node-chunk.mjs:18392
(anonymous) @ _debug_node-chunk.mjs:18364
(anonymous) @ _untracked-chunk.mjs:2329
requestAnimationFrame
scheduleCallbackWithRafRace @ _untracked-chunk.mjs:2328
(anonymous) @ _debug_node-chunk.mjs:18364
runOutsideAngular @ _untracked-chunk.mjs:2568
notify @ _debug_node-chunk.mjs:18364
markViewDirty @ _debug_node-chunk.mjs:5698
wrapListenerIn_markDirtyAndPreventDefault @ _debug_node-chunk.mjs:7944
(anonymous) @ _dom_renderer-chunk.mjs:566
_module-chunk.mjs:1206  POST https://localhost:44343/api/Tenants/CreateTenant 400 (Bad Request)
(anonymous) @ _module-chunk.mjs:1206
(anonymous) @ Observable.js:38
(anonymous) @ Observable.js:32
errorContext @ errorContext.js:19
(anonymous) @ Observable.js:23
(anonymous) @ switchMap.js:14
(anonymous) @ OperatorSubscriber.js:15
(anonymous) @ Subscriber.js:34
(anonymous) @ innerFrom.js:51
(anonymous) @ Observable.js:38
(anonymous) @ Observable.js:32
errorContext @ errorContext.js:19
(anonymous) @ Observable.js:23
(anonymous) @ switchMap.js:10
(anonymous) @ lift.js:10
(anonymous) @ Observable.js:27
errorContext @ errorContext.js:19
(anonymous) @ Observable.js:23
(anonymous) @ catchError.js:9
(anonymous) @ lift.js:10
(anonymous) @ Observable.js:27
errorContext @ errorContext.js:19
(anonymous) @ Observable.js:23
(anonymous) @ finalize.js:5
(anonymous) @ lift.js:10
(anonymous) @ Observable.js:27
errorContext @ errorContext.js:19
(anonymous) @ Observable.js:23
(anonymous) @ finalize.js:5
(anonymous) @ lift.js:10
(anonymous) @ Observable.js:27
errorContext @ errorContext.js:19
(anonymous) @ Observable.js:23
(anonymous) @ mergeInternals.js:19
(anonymous) @ mergeInternals.js:14
(anonymous) @ OperatorSubscriber.js:15
(anonymous) @ Subscriber.js:34
(anonymous) @ innerFrom.js:51
(anonymous) @ Observable.js:38
(anonymous) @ Observable.js:32
errorContext @ errorContext.js:19
(anonymous) @ Observable.js:23
mergeInternals @ mergeInternals.js:53
(anonymous) @ mergeMap.js:14
(anonymous) @ lift.js:10
(anonymous) @ Observable.js:27
errorContext @ errorContext.js:19
(anonymous) @ Observable.js:23
(anonymous) @ filter.js:6
(anonymous) @ lift.js:10
(anonymous) @ Observable.js:27
errorContext @ errorContext.js:19
(anonymous) @ Observable.js:23
(anonymous) @ map.js:6
(anonymous) @ lift.js:10
(anonymous) @ Observable.js:27
errorContext @ errorContext.js:19
(anonymous) @ Observable.js:23
(anonymous) @ finalize.js:5
(anonymous) @ lift.js:10
(anonymous) @ Observable.js:27
errorContext @ errorContext.js:19
(anonymous) @ Observable.js:23
save @ create-tenant.component.ts:130
CreateTenantComponent_Template_button_click_6_listener @ create-tenant.component.html:31
executeListenerWithErrorHandling @ _debug_node-chunk.mjs:7959
wrapListenerIn_markDirtyAndPreventDefault @ _debug_node-chunk.mjs:7946
(anonymous) @ _dom_renderer-chunk.mjs:566
reportUnhandledError.js:10 Uncaught {type: 'https://tools.ietf.org/html/rfc9110#section-15.5.1', title: 'One or more validation errors occurred.', status: 400, errors: {…}, traceId: '00-e83852f10677240930bf8684cd5bb5b3-98ef85f0b8f2b14f-00'}
(anonymous) @ reportUnhandledError.js:10
setTimeout
setTimeout @ timeoutProvider.js:12
reportUnhandledError @ reportUnhandledError.js:4
handleUnhandledError @ Subscriber.js:168
(anonymous) @ Subscriber.js:114
(anonymous) @ Subscriber.js:67
(anonymous) @ Subscriber.js:43
(anonymous) @ Subscriber.js:67
(anonymous) @ Subscriber.js:43
(anonymous) @ Subscriber.js:67
(anonymous) @ Subscriber.js:43
(anonymous) @ Subscriber.js:67
(anonymous) @ Subscriber.js:43
(anonymous) @ throwError.js:5
(anonymous) @ Observable.js:38
(anonymous) @ Observable.js:32
errorContext @ errorContext.js:19
(anonymous) @ Observable.js:23
(anonymous) @ catchError.js:14
(anonymous) @ OperatorSubscriber.js:25
(anonymous) @ Subscriber.js:43
(anonymous) @ Subscriber.js:67
(anonymous) @ Subscriber.js:43
(anonymous) @ _module-chunk.mjs:1132
XMLHttpRequest.send
(anonymous) @ _module-chunk.mjs:1206
(anonymous) @ Observable.js:38
(anonymous) @ Observable.js:32
errorContext @ errorContext.js:19
(anonymous) @ Observable.js:23
(anonymous) @ switchMap.js:14
(anonymous) @ OperatorSubscriber.js:15
(anonymous) @ Subscriber.js:34
(anonymous) @ innerFrom.js:51
(anonymous) @ Observable.js:38
(anonymous) @ Observable.js:32
errorContext @ errorContext.js:19
(anonymous) @ Observable.js:23
(anonymous) @ switchMap.js:10
(anonymous) @ lift.js:10
(anonymous) @ Observable.js:27
errorContext @ errorContext.js:19
(anonymous) @ Observable.js:23
(anonymous) @ catchError.js:9
(anonymous) @ lift.js:10
(anonymous) @ Observable.js:27
errorContext @ errorContext.js:19
(anonymous) @ Observable.js:23
(anonymous) @ finalize.js:5
(anonymous) @ lift.js:10
(anonymous) @ Observable.js:27
errorContext @ errorContext.js:19
(anonymous) @ Observable.js:23
(anonymous) @ finalize.js:5
(anonymous) @ lift.js:10
(anonymous) @ Observable.js:27
errorContext @ errorContext.js:19
(anonymous) @ Observable.js:23
(anonymous) @ mergeInternals.js:19
(anonymous) @ mergeInternals.js:14
(anonymous) @ OperatorSubscriber.js:15
(anonymous) @ Subscriber.js:34
(anonymous) @ innerFrom.js:51
(anonymous) @ Observable.js:38
(anonymous) @ Observable.js:32
errorContext @ errorContext.js:19
(anonymous) @ Observable.js:23
mergeInternals @ mergeInternals.js:53
(anonymous) @ mergeMap.js:14
(anonymous) @ lift.js:10
(anonymous) @ Observable.js:27
errorContext @ errorContext.js:19
(anonymous) @ Observable.js:23
(anonymous) @ filter.js:6
(anonymous) @ lift.js:10
(anonymous) @ Observable.js:27
errorContext @ errorContext.js:19
(anonymous) @ Observable.js:23
(anonymous) @ map.js:6
(anonymous) @ lift.js:10
(anonymous) @ Observable.js:27
errorContext @ errorContext.js:19
(anonymous) @ Observable.js:23
(anonymous) @ finalize.js:5
(anonymous) @ lift.js:10
(anonymous) @ Observable.js:27
errorContext @ errorContext.js:19
(anonymous) @ Observable.js:23
save @ create-tenant.component.ts:130
CreateTenantComponent_Template_button_click_6_listener @ create-tenant.component.html:31
executeListenerWithErrorHandling @ _debug_node-chunk.mjs:7959
wrapListenerIn_markDirtyAndPreventDefault @ _debug_node-chunk.mjs:7946
(anonymous) @ _dom_renderer-chunk.mjs:566
signalr.service.ts:27 ✅ SignalR connected via WebSocket
provisioning-tenant.component.ts:52 ✅ Joined group: tenant-ddddd
provisioning-tenant.component.ts:79 📊 Progress: {tenantSlug: 'ddddd', status: 1, message: 'Creating tenant entity...', currentStep: 0, tenantId: null, …}adminUserId: nullcurrentStep: 0message: "Creating tenant entity..."status: 1tenantId: nulltenantSlug: "ddddd"timestamp: "2026-05-13T15:13:33.7838003Z"[[Prototype]]: Object
provisioning-tenant.component.ts:98 Tenant: ddddd
provisioning-tenant.component.ts:99 Status: 1
provisioning-tenant.component.ts:100 Step: 0
provisioning-tenant.component.ts:101 Message: Creating tenant entity...
provisioning-tenant.component.ts:102 Time: 2026-05-13T15:13:33.7838003Z
provisioning-tenant.component.ts:79 📊 Progress: {tenantSlug: 'ddddd', status: 1, message: 'Creating admin user...', currentStep: 1, tenantId: null, …}
provisioning-tenant.component.ts:98 Tenant: ddddd
provisioning-tenant.component.ts:99 Status: 1
provisioning-tenant.component.ts:100 Step: 1
provisioning-tenant.component.ts:101 Message: Creating admin user...
provisioning-tenant.component.ts:102 Time: 2026-05-13T15:14:49.7963486Z
provisioning-tenant.component.ts:85 ✅ Completed: {tenantSlug: 'ddddd', status: 2, message: 'Creating admin user...', currentStep: 0, tenantId: null, …}
provisioning-tenant.component.ts:98 Tenant: ddddd
provisioning-tenant.component.ts:99 Status: 2
provisioning-tenant.component.ts:100 Step: 0
provisioning-tenant.component.ts:101 Message: Creating admin user...
provisioning-tenant.component.ts:102 Time: 2026-05-13T15:15:33.7715282Z