<div class="file-list">
  @if (loading) {
    <mat-spinner color="primary" diameter="25"></mat-spinner>
  }
  @for (item of fileList; track item) {
    <div
      class="file"
      (click)="selectFile(item)"
      (dblclick)="dblClickFile(item)"
      [class.active]="item.id == selectedFileInfo?.id">
      <div class="icon-container">
        @if (item.icon) {
          <img [src]="baseUrl + '/' + item.icon" />
        } @else {
          <img [src]="item.isFolder ? defaultFolderIcon : defaultFileIcon" />
        }
      </div>
      <span class="file-name">{{ item.name }}</span>
    </div>
  }
</div>
<!-- --------------------------------------------------------------------- -->
@if (selectedFileInfo) {
  <div class="file-info">
    <div class="preview">
      @if (selectedFileInfo.isImage) {
        <img [src]="fileServerUrl + '/' + selectedFileInfo.id" />
      } @else if (selectedFileInfo.isVideo) {
        <video>
          <source [src]="fileServerUrl + '/' + selectedFileInfo.id" />
        </video>
      } @else if (selectedFileInfo.icon) {
        <img [src]="baseUrl + '/' + selectedFileInfo.icon" />
      } @else {
        <img [src]="selectedFileInfo.isFolder ? defaultFolderIcon : defaultFileIcon" />
      }
    </div>
    @if (selectedFileInfo.isFolder) {
      <button class="btn btn-primary" (click)="selectIcon()">
        {{ 'ChangeIcon' | translate }}
      </button>
    }
    @if (selectedFileInfo.id && (AppPermissions.FileManager_Delete | permission)) {
      <button (click)="deleteFileOrFolder()" mat-icon-button>
        <i class="fa fa-trash"></i>
      </button>
    }
    <table>
      <tr>
        <td colspan="2">{{ selectedFileInfo.name }}</td>
      </tr>
      <tr>
        <td>{{ 'Extension' | translate }}:</td>
        <td>{{ selectedFileInfo.extension }}</td>
      </tr>
      <tr>
        <td>{{ 'Size' | translate }}:</td>
        <td>{{ selectedFileInfo.byteSize | fileSize }}</td>
      </tr>
      <tr>
        <td>{{ 'CreationTime' | translate }}:</td>
        <td>{{ selectedFileInfo.creationTime | luxonFormat: 'F' }}</td>
      </tr>
      <tr>
        <td>{{ 'LastModifiedTime' | translate }}:</td>
        <td>{{ selectedFileInfo.lastModifiedTime | luxonFormat: 'F' }}</td>
      </tr>
    </table>
    @if (!selectedFileInfo.isFolder) {
      <button class="w-100" mat-raised-button color="primary" (click)="chooseThisFile()">
        <i class="fa fa-check"></i>
        <span>{{ 'ChooseThisFile' }}</span>
      </button>
    }
  </div>
}
