<h2 mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane">
  @if (!isUpdate) {
    <span cdkDragHandle class="title">{{ 'CreateLanguage' | translate }}</span>
  }
  @if (isUpdate) {
    <span cdkDragHandle class="title">{{ 'EditLanguage' | translate }}</span>
  }

  <button type="button" class="close-btn" aria-label="Close" mat-dialog-close mat-icon-button>
    <span aria-hidden="true">&times;</span>
  </button>
</h2>
<mat-dialog-content>
  <form [formGroup]="form">
    <div class="row">
      <mat-form-field class="col-sm-6">
        <mat-label>{{ 'Culture' | translate }}</mat-label>
        <input matInput type="text" formControlName="culture" maxlength="5" />
        @if (form.get('culture')?.hasError('required')) {
          <mat-error>
            {{ 'IsRequired' | translate: { value: ('Culture' | translate) } }}
          </mat-error>
        }
      </mat-form-field>
      <mat-form-field class="col-sm-6">
        <mat-label>{{ 'Name' | translate }}</mat-label>
        <input matInput type="text" formControlName="name" maxlength="100" />
        @if (form.get('name')?.hasError('required')) {
          <mat-error>
            {{ 'IsRequired' | translate: { value: ('Name' | translate) } }}
          </mat-error>
        }
      </mat-form-field>
    </div>
    <p>
      <mat-checkbox color="primary" formControlName="isRtl">{{ 'IsRtl' | translate }}</mat-checkbox>
    </p>
    <p>
      <mat-checkbox color="primary" formControlName="isDefault">{{ 'IsDefault' | translate }}</mat-checkbox>
    </p>
    <p>
      <mat-checkbox color="primary" formControlName="isActive">{{ 'IsActive' | translate }}</mat-checkbox>
    </p>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close color="cancel">{{ 'Cancel' | translate }}</button>
  <button mat-raised-button color="primary" (click)="save()" cdkFocusInitial [disabled]="saving">
    @if (saving) {
      <mat-spinner color="primary" diameter="25"></mat-spinner>
    }
    <span>{{ 'Save' | translate }}</span>
  </button>
</mat-dialog-actions>
