nav.navbar {
  border-bottom: 1px var(--border-color) solid;
  z-index: 1000;
  background-color: var(--body-bg);
  padding: 0;
}




.navbar {
  --bs-navbar-brand-font-size: 12px;
}
.nav-link {
  cursor: pointer;
}



