<h2 mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane">
  <span cdkDragHandle class="title">{{ 'SelectIcon' | translate }}</span>

  <button type="button" class="close-btn" aria-label="Close" mat-dialog-close mat-icon-button>
    <span aria-hidden="true">&times;</span>
  </button>
</h2>
<mat-dialog-content>
  @if (loading) {
    <div class="d-flex align-items-center py-3">
      <mat-spinner diameter="25" color="primary"></mat-spinner>
    </div>
  }
  <div class="list-icon">
    @for (item of list; track item) {
      <div class="icon" [class.selected]="item == selected" (click)="selected = item">
        <img [src]="baseUrl + item" />
      </div>
    }
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close color="cancel">{{ 'Cancel' | translate }}</button>
  <button mat-raised-button color="primary" (click)="changeIcon()" cdkFocusInitial [disabled]="loading || saving">
    @if (saving) {
      <mat-spinner color="primary" diameter="25"></mat-spinner>
    }
    <span>{{ 'Save' | translate }}</span>
  </button>
</mat-dialog-actions>
