<h2 mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane">
  <span cdkDragHandle class="title">{{ 'CreateFolder' | translate }}</span>

  <button type="button" class="close-btn" aria-label="Close" mat-dialog-close mat-icon-button>
    <span aria-hidden="true">&times;</span>
  </button>
</h2>
<mat-dialog-content>
  <mat-form-field class="w-100">
    <mat-label>{{ 'Title' | translate }}</mat-label>
    <input matInput [(ngModel)]="folderName" name="foldername" required />
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close color="cancel">{{ 'Cancel' | translate }}</button>
  <button mat-raised-button color="primary" (click)="createFolder()" cdkFocusInitial [disabled]="loading">
    @if (loading) {
      <mat-spinner color="primary" diameter="25"></mat-spinner>
    }
    <span>{{ 'Create' | translate }}</span>
  </button>
</mat-dialog-actions>
