.img-circle {
  width: 50px;
  max-height: 50px;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 auto;
  display: block;
}

.img-cover {
  max-width: 100px;
  height: 50px;
  overflow: hidden;
  display: block;
}

* {
  box-sizing: border-box;
}

.table-responsive {
  --border-color: #70707030;
  --header-height: 50px;
  --header-padding-y: 8px;
  --bg-color: #23262b;
  --fg-color: #ffffff;
  --header-shadow-color: #00000066;
  position: relative;
}

::ng-deep {
  body.color-scheme-light {
    .table-responsive {
      --border-color: #70707030 !important;
      --bg-color: #eeeeee !important;
      --fg-color: #000000 !important;
      --header-shadow-color: #00000024 !important;
    }
  }
}

.table-mrs {
  border: 1px var(--border-color) solid;
  border-radius: 5px;
  overflow: hidden;
  background-color: var(--bg-color);
  color: var(--fg-color);
}

.thead-mrs {
  height: var(--header-height);
  padding: var(--header-padding-y) 0px;
  box-shadow: 0px 0px 10px 5px var(--header-shadow-color);
}

.tbody-mrs {
  border-top: 1px var(--border-color) solid;
  overflow: auto;
  height: calc(var(--available-content-height, 100vh) - (var(--header-height) + var(--header-padding-y) * 2));
  min-height: 200px;
}

.tr-mrs {
  display: flex;
  border-bottom: 1px var(--border-color) solid;
}

.tbody-mrs .tr-mrs {
  animation: showrow 350ms cubic-bezier(0.4, -0.32, 0.4, 1.24);
}

.tr-mrs:last-child {
  border-bottom: none;
}

.thead-mrs .th-mrs {
  padding: 5px 10px;
  flex: 1;
  border-right: 1px var(--border-color) solid;
  align-items: center;
  justify-content: space-between;
  display: flex;
  gap: 5px;
  &:hover {
    .sort-icon {
      opacity: 1;
    }
  }
}

.th-mrs:last-child {
  border: none;
}

.td-mrs {
  padding: 8px 10px;
  flex: 100;
  overflow: hidden;
  margin: auto 0;
}

.td-mrs .cel {
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  white-space: nowrap;
  /* margin: auto 0; */
}

.cel .cell-title {
  display: none;
}

.text-wrap {
  white-space: normal;
}

.operations {
  width: 100px !important;
  max-width: 200px !important;
}

@media (max-width: 768px) {
  .thead-mrs {
    display: none;
  }

  .tr-mrs {
    flex-direction: column;
    .td-mrs {
      max-width: unset !important;
      width: unset !important;
      .cel {
        display: flex;
        align-items: center;
        gap: 10px;
      }
    }
  }

  .cel .cell-title {
    color: #6bb6f3;
    display: inline-block;
    font-weight: 600;
  }
}

@keyframes showrow {
  from {
    margin-top: -100px;
    opacity: 0;
  }

  to {
    margin-top: 0px;
    opacity: 1;
  }
}

/*----------------------------------*/
.loading-container {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  .loading {
    background: #3b3b3ba3;
    color: #fff;
    border: 10px #3939392e solid;
    border-radius: 10px;
    padding: 18px 25px;
  }
}

.no-data {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 2rem;
  opacity: 0.5;
}

.sort-icon {
  cursor: pointer;
  opacity: 0;
  transition: opacity 500ms;
  &.active {
    opacity: 1;
  }
}

.tag {
  color: #fff;
  padding: 0 10px;
  border-radius: 5px;
  &.tag-success {
    background: #008e44;
  }
  &.tag-danger {
    background: #bb001b;
  }
}
