<div class="dropdown">
  <a id="notificationDropdown" role="button" data-bs-toggle="dropdown" (click)="showHaveNewMessage = false">
    <i class="fa fa-bell"></i>
    @if (count > 0) {
      <span class="badge">{{ count }}</span>
    }
  </a>
  @if (showHaveNewMessage) {
    <div class="have-new-message">
      {{ 'YouHaveNewMessage' | translate }}
    </div>
  }
  <div class="dropdown-menu notify-dropdown-menu" aria-labelledby="notificationDropdown">
    <div class="p-2">
      {{ 'LastNotifications' | translate }}
    </div>
    <div class="notify-list-container">
      @if (notificationList.length == 0) {
        <div class="px-2 py-5 my-5 text-center">
          {{ 'NotACase' | translate }}
        </div>
      }
      @for (item of notificationList; track item) {
        <div class="notify-item" (click)="openNotify(item)">
          <div class="title">
            {{ item.title }}
          </div>
          <div class="time">
            {{ item.creationTime | luxonFromNow }}
          </div>
        </div>
      }
    </div>
    <div class="d-flex p-2 align-items-center justify-content-between">
      @if (AppPermissions.Notification_MarkAllAsRead | permission) {
        <button class="btn btn-sm btn-primary" (click)="markAllAsRead()">
          {{ 'MarkAllAsRead' | translate }}
        </button>
      }

      @if (AppPermissions.Notification_List | permission) {
        <a routerLink="/panel/notifications">
          {{ 'ViewAll' | translate }}
        </a>
      }
    </div>
  </div>
</div>
