<div class="d-flex justify-content-end my-2">
  @if (AppPermissions.CacheEntries_ClearAll | permission) {
    <button mat-stroked-button color="primary" (click)="clearAll()">
      <i class="fa fa-trash mx-1"></i>
      <span>{{ 'ClearAll' | translate }}</span>
      <span>({{ totalSize | fileSize }})</span>
    </button>
  }
</div>
<table-view [list]="cacheKeys" [fields]="fields" [operations]="operations" [loading]="loading"></table-view>

<ng-template #operations let-item>
  @if (item.loading) {
    <mat-spinner [diameter]="20"></mat-spinner>
  }
  @if (!item.loading) {
    <button mat-icon-button [matMenuTriggerFor]="menu" #menuTrigger="matMenuTrigger">
      <i class="fa fa-ellipsis-v"></i>
    </button>
  }
  <mat-menu #menu="matMenu">
    @if (AppPermissions.CacheEntries_Delete | permission) {
      <a mat-menu-item (click)="remove(item)">
        <i class="fa fa-trash mx-1"></i>
        <span>{{ 'Remove' | translate }}</span>
      </a>
    }
  </mat-menu>
</ng-template>
