<h2 mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane">
  <span cdkDragHandle class="title" *ngIf="!isUpdate">{{ 'CreateNewUser' | translate }}</span>
  <span cdkDragHandle class="title" *ngIf="isUpdate">{{ 'EditUser' | translate }}</span>

  <button type="button" class="close-btn" aria-label="Close" mat-dialog-close mat-icon-button>
    <span aria-hidden="true">&times;</span>
  </button>
</h2>
<mat-dialog-content>
  <div class="d-flex align-items-center justify-content-center py-5" *ngIf="loading">
    <mat-spinner color="primary" diameter="25"></mat-spinner>
  </div>
  <tab-group *ngIf="!loading">
    <tab-item [title]="'UserInfo' | translate">
      <form [formGroup]="form" *ngIf="!loading">
        <div class="row">
          <mat-form-field class="col-md-6">
            <mat-label>{{ 'UserName' | translate }}</mat-label>
            <input matInput formControlName="userName" />
            <mat-error *ngIf="form.get('userName')?.hasError('required')">
              {{ 'IsRequired' | translate: { value: ('UserName' | translate) } }}
            </mat-error>
            <mat-error *ngIf="form.get('userName')?.hasError('pattern')">
              {{ 'IsInvalid' | translate: { value: ('UserName' | translate) } }}
            </mat-error>
          </mat-form-field>
          <mat-form-field class="col-md-6">
            <mat-label>{{ 'Email' | translate }}</mat-label>
            <input matInput formControlName="email" type="email" />
            <mat-error *ngIf="form.get('email')?.hasError('required')">
              {{ 'IsRequired' | translate: { value: ('Email' | translate) } }}
            </mat-error>
            <mat-error *ngIf="form.get('email')?.hasError('pattern')">
              {{ 'IsInvalid' | translate: { value: ('Email' | translate) } }}
            </mat-error>
          </mat-form-field>

          <mat-form-field class="col-md-6">
            <mat-label>{{ 'FirstName' | translate }}</mat-label>
            <input matInput formControlName="firstName" />
            <mat-error *ngIf="form.get('firstName')?.hasError('required')">
              {{ 'IsRequired' | translate: { value: ('FirstName' | translate) } }}
            </mat-error>
          </mat-form-field>
          <mat-form-field class="col-md-6">
            <mat-label>{{ 'LastName' | translate }}</mat-label>
            <input matInput formControlName="lastName" />
            <mat-error *ngIf="form.get('lastName')?.hasError('required')">
              {{ 'IsRequired' | translate: { value: ('LastName' | translate) } }}
            </mat-error>
          </mat-form-field>

          <mat-form-field class="col-md-6">
            <mat-label>{{ 'PhoneNumber' | translate }}</mat-label>
            <input matInput formControlName="phoneNumber" type="text" numberCheck minlength="4" maxlength="11" />
            <mat-error *ngIf="form.get('phoneNumber')?.hasError('required')">
              {{ 'IsRequired' | translate: { value: ('PhoneNumber' | translate) } }}
            </mat-error>
          </mat-form-field>
          <mat-form-field class="col-md-6">
            <mat-label>{{ 'Language' | translate }}</mat-label>
            <mat-select formControlName="lang">
              <mat-option [value]="item.culture" *ngFor="let item of languageList">
                {{ item.name }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="form.get('lang')?.hasError('required')">
              {{ 'IsRequired' | translate: { value: ('Language' | translate) } }}
            </mat-error>
          </mat-form-field>
          <app-password-input
            *ngIf="!isUpdate"
            [policy]="passwordPolicy!"
            className="col-md-6"
            parentClass="row"
            formControlName="password"></app-password-input>

          <mat-form-field class="col-md-12">
            <mat-label>{{ 'Address' | translate }}</mat-label>
            <textarea matInput rows="3" formControlName="address"></textarea>
            <mat-error *ngIf="form.get('address')?.hasError('required')">
              {{ 'IsRequired' | translate: { value: ('Address' | translate) } }}
            </mat-error>
          </mat-form-field>
        </div>
      </form>
    </tab-item>

    <!-- -------------------------------- -->
    <tab-item [title]="'Roles' | translate">
      <p *ngFor="let role of roles">
        <mat-checkbox color="primary" [(ngModel)]="role.selected">
          {{ role.displayName }}
        </mat-checkbox>
      </p>
    </tab-item>
  </tab-group>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close color="cancel">{{ 'Cancel' | translate }}</button>
  <button mat-raised-button color="primary" (click)="save()" cdkFocusInitial [disabled]="loading || saving">
    <mat-spinner *ngIf="saving" color="primary" diameter="25"></mat-spinner>
    <span>{{ 'Save' | translate }}</span>
  </button>
</mat-dialog-actions>
