<sub-header [title]="'AppSettings' | translate"></sub-header>
<div class="panel-content">
  <m-tab-group>
    @if (AppPermissions.Administrator | permission) {
      <m-tab-item [title]="'General' | translate">
        <app-general-setting></app-general-setting>
      </m-tab-item>
    }

    <!-- host setting -->
    @if ([AppPermissions.SecuritySetting_GetSetting, AppPermissions.SecuritySetting_UpdateSetting] | permissionAll) {
      <m-tab-item [title]="'HostSecuritySettings' | translate">
        <app-security-setting></app-security-setting>
      </m-tab-item>
    }
    @if ([AppPermissions.SecuritySetting_ExternalProvidersList] | permissionAll) {
      <m-tab-item [title]="'ExternalProviders' | translate">
        <app-external-providers></app-external-providers>
      </m-tab-item>
    }

    <!-- user security setting -->
    @if (
      [AppPermissions.SecuritySetting_GetUserSetting, AppPermissions.SecuritySetting_UpdateUserSetting] | permissionAll
    ) {
      <m-tab-item [title]="'UserSecuritySettings' | translate">
        <app-user-security-setting></app-user-security-setting>
      </m-tab-item>
    }
  </m-tab-group>
</div>
