@using MediatR
@using SamaniCrm.Application.DTOs
@using SamaniCrm.Application.Menu.Queries
@inject IMediator _mediator


@code {
	List<MenuDTO> menuList = [];
	protected override async Task OnInitializedAsync()
	{
		menuList = await _mediator.Send(new GetAllMenuItemsQuery());

	}

}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<div class="container-fluid">
		<a class="navbar-brand" href="#">Navbar</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				@foreach (var menu in menuList)
				{
					<MenuItem Item="menu"/>
				}
			</ul>
		</div>
	</div>
</nav>