<h2 mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane">
  <span cdkDragHandle class="title">{{ 'TwoFactorViaApp' | translate }}</span>

  <button type="button" class="close-btn" aria-label="Close" mat-dialog-close mat-icon-button>
    <span aria-hidden="true">&times;</span>
  </button>
</h2>
<mat-dialog-content>
  @if (loading) {
    <div class="d-flex align-items-center justify-content-center py-5">
      <mat-spinner color="primary" diameter="25"></mat-spinner>
    </div>
  }

  <img [src]="img" alt="QR Code" class="qr-code mb-5" />

  <!-- <mat-form-field>
  <mat-label>{{ 'Code' | translate }}</mat-label>
  <input matInput [(ngModel)]="code" maxlength="6" numberCheck minlength="6" #codeEl="ngModel" name="code" />
  <mat-error *ngIf="codeEl.hasError('required')">
    {{ 'IsRequired' | translate: { value: ('Code' | translate) } }}
  </mat-error>
</mat-form-field> -->
<otp-input [length]="6" [(ngModel)]="code" name="code"></otp-input>


</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close color="cancel">{{ 'Cancel' | translate }}</button>
  <button mat-raised-button color="primary" (click)="save()" cdkFocusInitial [disabled]="loading || saving">
    @if (saving) {
      <mat-spinner color="primary" diameter="25"></mat-spinner>
    }
    <span>{{ 'Save' | translate }}</span>
  </button>
</mat-dialog-actions>
