<div class="tools d-flex justify-content-between align-items-center flex-wrap gap-2">
  <div class="d-flex gap-2">
    <button mat-raised-button color="primary" (click)="showFilter = !showFilter">
      <i class="fa fa-filter mx-1"></i>
      <span>{{ 'Filter' | translate }}</span>
    </button>
  </div>
  @if (AppPermissions.Products_Currency_Create | permission) {
    <button
      mat-raised-button
      color="primary"
      (click)="openCreateOrEditDialog()"
      >
      <i class="fa fa-circle-plus mx-1"></i>
      <span>{{ 'CreateNewCurrency' | translate }}</span>
    </button>
  }
</div>

<form [formGroup]="form" *filterForm="showFilter" class="filter-form">
  <div class="row">
    <mat-form-field class="col-sm-6 col-md-4">
      <mat-label>{{ 'Filter' | translate }}</mat-label>
      <input matInput type="text" maxlength="500" formControlName="filter" />
    </mat-form-field>
  </div>
  <div class="d-flex align-items-center justify-content-end gap-2">
    <button mat-stroked-button color="primary" (click)="resetFilter()" type="reset">
      <i class="fa fa-times mx-1"></i>
      <span>{{ 'Reset' | translate }}</span>
    </button>
    <button mat-stroked-button color="primary" (click)="reload()" type="submit">
      <i class="fa fa-refresh mx-1"></i>
      <span>{{ 'Reload' | translate }}</span>
    </button>
  </div>
</form>

<table-view
  [list]="list"
  [fields]="fields"
  [operations]="operations"
  [loading]="loading"
(sortChange)="getList($event)"></table-view>

<pagination [total]="totalCount" [(page)]="page" [(perPage)]="perPage" (change)="onPageChange($event)"></pagination>

<ng-template #operations let-item>
  @if ([AppPermissions.Products_Currency_Edit, AppPermissions.Products_Currency_Delete] | permissionAny) {
    <button mat-icon-button [matMenuTriggerFor]="menu" #menuTrigger="matMenuTrigger">
      <i class="fa fa-ellipsis-v"></i>
    </button>
    <mat-menu #menu="matMenu">
      @if (AppPermissions.Products_Currency_Edit | permission) {
        <a
          mat-menu-item
          (click)="openCreateOrEditDialog(item)"
          >
          <i class="fa fa-edit mx-1"></i>
          <span>{{ 'Edit' | translate }}</span>
        </a>
      }
      @if (AppPermissions.Products_Currency_Delete | permission) {
        <a mat-menu-item (click)="remove(item)">
          <i class="fa fa-trash mx-1"></i>
          <span>{{ 'Remove' | translate }}</span>
        </a>
      }
    </mat-menu>
  }
</ng-template>
