<mat-progress-bar *ngIf="loading" class="my-5" [mode]="'indeterminate'"></mat-progress-bar>

<form #frm="ngForm" *ngIf="settings && !loading">
  <h5>
    {{ 'TwoFactorAuthentication' | translate }}
  </h5>
  <switch [(ngModel)]="settings.enableTwoFactor" name="enableTwoFactorAuth">
    {{ 'Enable' | translate }}
  </switch>
  @if (settings.enableTwoFactor) {
    <mat-form-field>
      <mat-label>{{ 'TwoFactorType' | translate }}</mat-label>
      <mat-select [(ngModel)]="settings.twoFactorType" name="twoFactorType">
        <mat-option [value]="TwoFactorTypeEnum.Email">{{ 'Email' | translate }}</mat-option>
        <mat-option [value]="TwoFactorTypeEnum.Sms">{{ 'SMS' | translate }}</mat-option>
        <mat-option [value]="TwoFactorTypeEnum.AuthenticatorApp">{{ 'App' | translate }}</mat-option>
      </mat-select>
    </mat-form-field>

    @if (settings.isVerified) {
      <span class="text-success">
        {{ 'Verified2FaApp' | translate }}
      </span>
      <button class="btn btn-link" (click)="set2FaAppConfig()">{{ 'Change' | translate }}</button>
    } @else {
      <span class="text-danger">
        {{ 'Unverified2FaApp' | translate }}
      </span>
      <button class="btn btn-link" (click)="set2FaAppConfig()">{{ 'Verify' | translate }}</button>
    }
  }

  <div class="d-flex align-items-end justify-content-end">
    <button mat-raised-button color="primary" (click)="save(frm)" [disabled]="isSaving">
      {{ 'Save' | translate }}
    </button>
  </div>
</form>
