<div class="d-flex justify-content-end my-2">
  <button mat-stroked-button color="primary" (click)="openLanguageDialog()">
    <i class="fa fa-circle-plus mx-1"></i>
    <span>{{ 'CreateNewLanguage' | translate }}</span>
  </button>
</div>

<table-view [list]="list" [fields]="fields" [operations]="operations" [loading]="loading"></table-view>

<ng-template #operations let-item>
  <mat-spinner [diameter]="20" *ngIf="item.loading"></mat-spinner>
  <button mat-icon-button [matMenuTriggerFor]="menu" #menuTrigger="matMenuTrigger" *ngIf="!item.loading">
    <i class="fa fa-ellipsis-v"></i>
  </button>
  <mat-menu #menu="matMenu">
    <a mat-menu-item (click)="toggleActivate(item)">
      <i class="fa fa-circle-check mx-1"></i>
      <span *ngIf="!item.isActive">{{ 'Activate' | translate }}</span>
      <span *ngIf="item.isActive">{{ 'DeActivate' | translate }}</span>
    </a>

    <a mat-menu-item (click)="openDetails(item)">
      <i class="fa fa-list mx-1"></i>
      <span>{{ 'LocalizationTexts' | translate }}</span>
    </a>
    <a mat-menu-item (click)="remove(item)">
      <i class="fa fa-trash mx-1"></i>
      <span>{{ 'Remove' | translate }}</span>
    </a>
  </mat-menu>
</ng-template>
