<table-view [list]="list" [fields]="fields" [operations]="operations" [loading]="loading"></table-view>

<ng-template #operations let-item>
  <mat-spinner [diameter]="20" *ngIf="item.loading"></mat-spinner>
  <button mat-icon-button [matMenuTriggerFor]="menu" #menuTrigger="matMenuTrigger" *ngIf="!item.loading">
    <i class="fa fa-ellipsis-v"></i>
  </button>
  <mat-menu #menu="matMenu">
    <a mat-menu-item (click)="toggleActivate(item)">
      <i class="fa fa-circle-check mx-1"></i>
      <span *ngIf="!item.isActive">{{ 'Activate' | translate }}</span>
      <span *ngIf="item.isActive">{{ 'DeActivate' | translate }}</span>
    </a>

    <a mat-menu-item (click)="openDetails(item)">
      <i class="fa fa-check-list mx-1"></i>
      <span>{{ l('LocalizationTexts') }}</span>
    </a>
  </mat-menu>
</ng-template>
