.example-list {
  width: 500px;
  max-width: 100%;
  border: solid 1px #ccc;
  min-height: 60px;
  display: block;
  background: white;
  border-radius: 4px;
}

.example-box {
  padding: 5px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: column;
  align-items: self-start;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
  .children {
    width: 100%;
    // background-color: #e9e9e9;
    min-height: 10px;
  }
}

@keyframes showInner {
  from {
    min-height: 0px;
  }
  to {
    min-height: 50px;
  }
}
.custom-placeholder {
  border: 2px red solid;
}
.custom-placeholder2 {
  border: 2px blue solid;
}
.drag-handle {
  width: 26px;
  height: 45px;
  padding: 10px 6px 0;
  display: inline-block;
  svg {
    max-width: 100%;
    max-height: 100%;
  }
}
