:host {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;

  background: var(--subheader-bg);
  color: var(--subheader-fg);
  border-top: 1px #ffffff1a solid;
  margin-bottom: 12px;

  .page-title {
    font-weight: bold;
    padding: 5px 24px 0px;
    font-size: 1.3rem;
  }
}
.actions {
  display: flex;
  align-items: center;
  gap: 10px;
}
