<div class="tools d-flex justify-content-between align-items-center flex-wrap gap-2">
  @if (AppPermissions.LoggingSystem_AppLogs_ManualCleanUpLog | permission) {
    <button mat-stroked-button color="primary" (click)="manulaCleanup()">
      <i class="fa fa-trash mx-1"></i>
      <span>{{ 'ManualCleanupLogs' | translate }}</span>
      <span>{{ 'OldDays{day}' | translate: { day: 30 } }}</span>
    </button>
  }
</div>

<form [formGroup]="form">
  <div class="input-group my-2">
    <input
      class="form-control"
      type="text"
      maxlength="500"
      formControlName="filter"
      [placeholder]="'SearchWithThreeDot' | translate" />
    <button class="input-group-text btn btn-primary" (click)="reload()" type="submit">
      <i class="fa fa-search mx-1"></i>
    </button>
    <button class="btn btn-primary" (click)="showFilter = !showFilter">
      <i class="fa fa-filter-list mx-1"></i>
      <span>{{ 'Filter' | translate }}</span>
    </button>
  </div>
  <div *filterForm="showFilter" class="filter-form">
    <div class="row">
      <mat-form-field class="col-sm-6 col-md-4">
        <mat-label>{{ 'Filter' | translate }}</mat-label>
        <input matInput type="text" maxlength="500" formControlName="filter" />
      </mat-form-field>
      @if (isHost) {
        <auto-complete-tenant class="col-sm-6 col-md-4" formControlName="tenant"></auto-complete-tenant>
      }
      <mat-form-field class="col-sm-6 col-md-4">
        <mat-label>{{ 'LogLevel' | translate }}</mat-label>
        <mat-select formControlName="filterLevels" multiple>
          @for (item of LogLevel | enumToArray; track $index) {
            <mat-option [value]="+item">{{ 'LogLevel_' + item | translate }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>
    <div class="d-flex align-items-center justify-content-end gap-2">
      <button class="btn btn-primary" (click)="resetFilter()" type="reset">
        <i class="fa fa-times mx-1"></i>
        <span>{{ 'Reset' | translate }}</span>
      </button>
      <button class="btn btn-primary" (click)="reload()" type="submit">
        <i class="fa fa-refresh mx-1"></i>
        <span>{{ 'Reload' | translate }}</span>
      </button>
    </div>
  </div>
</form>

<table-view
  [list]="items"
  [fields]="fields"
  [operations]="operations"
  [loading]="loading"
  (sortChange)="getList($event)"></table-view>

<pagination [total]="totalCount" [(page)]="page" (onChange)="onPageChange($event)"></pagination>

<ng-template #operations let-item>
  @if (item.loading) {
    <mat-spinner [diameter]="20"></mat-spinner>
  }
  @if (!item.loading) {
    <button mat-icon-button [matMenuTriggerFor]="menu" #menuTrigger="matMenuTrigger">
      <i class="fa fa-ellipsis-v"></i>
    </button>
  }
  <mat-menu #menu="matMenu">
    @if (AppPermissions.LoggingSystem_AppLogs_Details | permission) {
      <a mat-menu-item (click)="openLogDetails(item)">
        <i class="fa fa-eye mx-1"></i>
        <span>{{ 'Details' | translate }}</span>
      </a>
    }
  </mat-menu>
</ng-template>
