<div class="tools d-flex justify-content-between align-items-center flex-wrap gap-2">
  <div class="d-flex gap-2">
    <button class="btn btn-primary" (click)="showFilter = !showFilter">
      <i class="fa fa-filter mx-1"></i>
      <span>{{ 'Filter' | translate }}</span>
    </button>
  </div>

  @if (AppPermissions.LoggingSystem_ManualCleanUpLog | permission) {
    <button mat-stroked-button color="primary" (click)="manulaCleanup()">
      <i class="fa fa-trash mx-1"></i>
      <span>{{ 'ManualCleanupLogs' | translate }}</span>
      <span>{{ 'OldDays{day}' | translate: { day: 30 } }}</span>
    </button>
  }
</div>

<form [formGroup]="form" *filterForm="showFilter" class="filter-form">
  <div class="row">
    <mat-form-field class="col-sm-6 col-md-4">
      <mat-label>{{ 'Filter' | translate }}</mat-label>
      <input matInput type="text" maxlength="500" formControlName="filter" />
    </mat-form-field>
      
    <mat-form-field>
        <mat-label>{{ 'LogLevel' | translate }}</mat-label>
        <mat-select formControlName="filterLevels" multiple>
          @for (item of logLevels; track $index) {
            <mat-option [value]="item.value">{{ item.label }}</mat-option>
          }
        </mat-select>
      </mat-form-field>

  </div>
  <div class="d-flex align-items-center justify-content-end gap-2">
    <button class="btn btn-primary" (click)="resetFilter()" type="reset">
      <i class="fa fa-times mx-1"></i>
      <span>{{ 'Reset' | translate }}</span>
    </button>
    <button class="btn btn-primary" (click)="reload()" type="submit">
      <i class="fa fa-refresh mx-1"></i>
      <span>{{ 'Reload' | translate }}</span>
    </button>
  </div>
</form>

<table-view
  [list]="items"
  [fields]="fields"
  [operations]="operations"
  [loading]="loading"
  (sortChange)="getList($event)"></table-view>

<pagination [total]="totalCount" [(page)]="page" (onChange)="onPageChange($event)"></pagination>

<ng-template #operations let-item>
  @if (item.loading) {
    <mat-spinner [diameter]="20"></mat-spinner>
  }
  @if (!item.loading) {
    <button mat-icon-button [matMenuTriggerFor]="menu" #menuTrigger="matMenuTrigger">
      <i class="fa fa-ellipsis-v"></i>
    </button>
  }
  <mat-menu #menu="matMenu">
    @if (AppPermissions.LoggingSystem_Details | permission) {
      <a mat-menu-item (click)="openLogDetails(item)">
        <i class="fa fa-eye mx-1"></i>
        <span>{{ 'Details' | translate }}</span>
      </a>
    }
  </mat-menu>
</ng-template>
