<div class="tools d-flex justify-content-between align-items-center flex-wrap gap-2">
  <div class="d-flex gap-2"></div>
  @if (AppPermissions.RoleManagement_Create | permission) {
    <button mat-raised-button color="primary" (click)="openCreateOrEditDialog()">
      <i class="fa fa-circle-plus mx-1"></i>
      <span>{{ 'CreateNewRole' | translate }}</span>
    </button>
  }
</div>

<table-view [list]="list" [fields]="fields" [operations]="operations" [loading]="loading"></table-view>

<ng-template #operations let-item>
  @if ([AppPermissions.RoleManagement_EditRolePermissions, AppPermissions.RoleManagement_Delete] | permissionAny) {
    <button mat-icon-button [matMenuTriggerFor]="menu" #menuTrigger="matMenuTrigger">
      <i class="fa fa-ellipsis-v"></i>
    </button>
    <mat-menu #menu="matMenu">
      @if (AppPermissions.RoleManagement_EditRolePermissions | permission) {
        <a mat-menu-item routerLink="/panel/roles/permissions/{{ item.id }}">
          <i class="fa fa-check-list mx-1"></i>
          <span>{{ 'Permissions' | translate }}</span>
        </a>
      }
      @if (AppPermissions.RoleManagement_Edit | permission) {
        <a mat-menu-item (click)="openCreateOrEditDialog(item)">
          <i class="fa fa-edit mx-1"></i>
          <span>{{ 'Edit' | translate }}</span>
        </a>
      }
      @if (AppPermissions.RoleManagement_Delete | permission) {
        <a mat-menu-item (click)="remove(item)">
          <i class="fa fa-trash mx-1"></i>
          <span>{{ 'Remove' | translate }}</span>
        </a>
      }
    </mat-menu>
  }
</ng-template>
