<h2 mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane">
  @if (!isUpdate) {
    <span cdkDragHandle class="title">{{ 'CreateMenu' | translate }}</span>
  }
  @if (isUpdate) {
    <span cdkDragHandle class="title">{{ 'EditMenu' | translate }}</span>
  }

  <button type="button" class="close-btn" aria-label="Close" mat-dialog-close mat-icon-button>
    <span aria-hidden="true">&times;</span>
  </button>
</h2>
<mat-dialog-content>
  @if (loading) {
    <div class="d-flex align-items-center justify-content-center py-5">
      <mat-spinner color="primary" diameter="25"></mat-spinner>
    </div>
  }
  @if (!loading) {
    <form [formGroup]="form">
      <div class="row">
        <mat-form-field class="col-md-6">
          <mat-label>{{ 'Url' | translate }}</mat-label>
          <input matInput formControlName="url" />
        </mat-form-field>
        <mat-form-field class="col-md-6">
          <mat-label>{{ 'Icon' | translate }}</mat-label>
          <input matInput formControlName="icon" />
        </mat-form-field>
        <mat-form-field class="col-md-6">
          <mat-label>{{ 'Target' | translate }}</mat-label>
          <mat-select formControlName="target">
            @for (item of MenuTargetEnum | enumToArray; track item) {
              <mat-option [value]="item">
                {{ 'MenuTargetEnum_' + item | translate }}
              </mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
      <p>
        <mat-checkbox formControlName="isActive" color="primary">
          {{ 'IsActive' | translate }}
        </mat-checkbox>
      </p>
      <p>
        <mat-checkbox formControlName="isSystem" color="primary">
          {{ 'IsSystem' | translate }}
        </mat-checkbox>
      </p>
      <m-tab-group>
        @for (translation of translationsArray.controls; track translation; let i = $index) {
          <m-tab-item [title]="translation.get('culture')?.value" formArrayName="translations">
            <div [formGroupName]="i" class="row">
              <mat-form-field class="col-sm-12">
                <mat-label>{{ 'Title' | translate }}</mat-label>
                <input matInput formControlName="title" />
              </mat-form-field>
            </div>
          </m-tab-item>
        }
      </m-tab-group>
    </form>
  }

  <!-- <pre dir="ltr" style="text-align: left;">{{form.value|json}}</pre> -->
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close color="cancel">{{ 'Cancel' | translate }}</button>
  <button mat-raised-button color="primary" (click)="save()" cdkFocusInitial [disabled]="loading || saving">
    @if (saving) {
      <mat-spinner color="primary" diameter="25"></mat-spinner>
    }
    <span>{{ 'Save' | translate }}</span>
  </button>
</mat-dialog-actions>
