<div class="explorer">
  <div class="explorer-header">
    @if (openedFolder) {
      @if (AppPermissions.FileManager_CreateFolder | permission) {
        <button (click)="createFolder()">
          <i class="fa fa-folder"></i>
          {{ 'NewFolder' | translate }}
        </button>
      }
      <input type="file" #file placeholder="Choose file" (change)="uploadFile(file)" style="display: none" />
      @if (AppPermissions.FileManager_CreateFile | permission) {
        <button (click)="file?.click()">
          <i class="fa fa-upload"></i>
          {{ 'Upload' | translate }}
        </button>
      }
      @if (AppPermissions.FileManager_CreateFile | permission) {
        <button (click)="uploadImage()">
          <i class="fa fa-upload"></i>
          {{ 'UploadImage' | translate }}
        </button>
      }
    }

    <button [disabled]="true">
      <i class="fa fa-sort"></i>
      {{ 'SortBy' | translate }}
    </button>
    <button (click)="reload(true)">
      <i class="fa fa-refresh"></i>
      {{ 'Refresh' | translate }}
    </button>
    <div class="search-bar">
      <input type="text" placeholder="search..." />
      <button class="button-search">
        <i class="fa fa-search"></i>
      </button>
    </div>
    <span class="flex-fill"></span>
    <button type="button" class="close-btn" aria-label="Close" mat-dialog-close mat-icon-button>
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="uploader-progressbar" [hidden]="!progress || progress < 0">
    <div class="progress">
      <div class="progress-bar" [style.width]="progress + '%'"></div>
    </div>
    <div class="d-flex align-items-center justify-content-between">
      <span class="upload">{{ progress }}%</span>
      @if (message) {
        <span class="upload">
          {{ message }}
        </span>
      }
    </div>
  </div>
  <div class="file-folders">
    <div class="folder-tree">
      @if (folders.length === 0 && loadingFolders === false) {
        <p class="text-center my-5 py-5">
          {{ 'Message.notFoundResult' | translate }}
        </p>
      }
      @if (loadingFolders) {
        <mat-spinner color="primary" diameter="25"></mat-spinner>
      }
      <tree-folder [folders]="folders" (openFolder)="openedFolder = $event"></tree-folder>
    </div>
    <div class="folder-view">
      <address-bar
        [folderId]="openedFolder?.id"
        [folders]="folders"
      (selectionChange)="openedFolder = $event"></address-bar>

      <file-list #fileList (onSelectFile)="onSelectFile($event)" [(openFolder)]="openedFolder"></file-list>
    </div>
  </div>
</div>
