<div class="explorer">
  <div class="explorer-header">
    @if (openedFolder) {
      <button (click)="createFolder()" *ngIf="AppPermissions.FileManager_CreateFolder | permission">
        <i class="fa fa-folder"></i>
        {{ 'NewFolder' | translate }}
      </button>
      <input type="file" #file placeholder="Choose file" (change)="uploadFile(file)" style="display: none" />
      <button (click)="file?.click()" *ngIf="AppPermissions.FileManager_CreateFile | permission">
        <i class="fa fa-upload"></i>
        {{ 'Upload' | translate }}
      </button>
      <button (click)="uploadImage()" *ngIf="AppPermissions.FileManager_CreateFile | permission">
        <i class="fa fa-upload"></i>
        {{ 'UploadImage' | translate }}
      </button>
    }

    <button [disabled]="true">
      <i class="fa fa-sort"></i>
      {{ 'SortBy' | translate }}
    </button>
    <button (click)="reload(true)">
      <i class="fa fa-refresh"></i>
      {{ 'Refresh' | translate }}
    </button>
    <div class="search-bar">
      <input type="text" placeholder="search..." />
      <button class="button-search">
        <i class="fa fa-search"></i>
      </button>
    </div>
    <span class="flex-fill"></span>
    <button type="button" class="close-btn" aria-label="Close" mat-dialog-close mat-icon-button>
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="uploader-progressbar" [hidden]="!progress || progress < 0">
    <div class="progress">
      <div class="progress-bar" [style.width]="progress + '%'"></div>
    </div>
    <div class="d-flex align-items-center justify-content-between">
      <span class="upload">{{ progress }}%</span>
      <span class="upload" *ngIf="message">
        {{ message }}
      </span>
    </div>
  </div>
  <div class="file-folders">
    <div class="folder-tree">
      <p class="text-center my-5 py-5" *ngIf="folders.length === 0 && loadingFolders === false">
        {{ 'Message.notFoundResult' | translate }}
      </p>
      <mat-spinner color="primary" *ngIf="loadingFolders" diameter="25"></mat-spinner>
      <tree-folder [folders]="folders" (openFolder)="openedFolder = $event"></tree-folder>
    </div>
    <div class="folder-view">
      <address-bar
        [folderId]="openedFolder?.id"
        [folders]="folders"
        (selectionChange)="openedFolder = $event"></address-bar>

      <file-list #fileList (onSelectFile)="onSelectFile($event)" [(openFolder)]="openedFolder"></file-list>
    </div>
  </div>
</div>
