::ng-deep {
  app-file-manager {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}
.explorer {
  flex: auto;
  display: flex;
  flex-direction: column;
  direction: ltr;
  text-align: left;
  width: 80vw;
  height: 90vh;
  .explorer-header {
    border-bottom: 1px darkgrey solid;
    display: flex;
    padding: 0 12px;
    gap: 6px;
    button {
      transition: all 300ms;
      border: none;
      margin: 4px;
      border-radius: 5px;
      padding: 6px 15px;
      &:hover {
        background: rgb(218, 218, 218);
        cursor: pointer;
      }
    }
  }
  .file-folders {
    display: flex;
    flex: auto;
    .folder-tree {
      width: 240px;
      border-right: 1px #d1d1d1 solid;
      flex-shrink: 0;
    }
    .folder-view {
      flex: auto;
    }
  }
}

.search-bar {
  input {
    flex: auto;
    border: none;
    padding: 5px;
  }
}
.uploader-progressbar {
  background: #c1c1c1;
  overflow: hidden;
  padding: 8px;
  font-size: 10px;
  animation: 100ms ShowSlow ease;
  .progress {
    height: 4px;
    border-radius: 0;
  }
  .progress-bar {
    background-color: #00d38f;
  }
}

@keyframes ShowSlow {
  from {
    transform: translateY(-100%);
    z-index: -1;
  }
  to {
    transform: translateY(0%);
    z-index: 1;
  }
}
