<sub-header [title]="'Content' | translate">
  @if (AppPermissions.LanguageManagement_Create | permission) {
    <button mat-stroked-button color="primary" (click)="openLanguageDialog()">
      <i class="fa fa-circle-plus mx-1"></i>
      <span>{{ 'CreateNewLanguage' | translate }}</span>
    </button>
  }
</sub-header>
<div class="panel-content">
  <table-view [list]="list" [fields]="fields" [operations]="operations" [loading]="loading"></table-view>
</div>

<ng-template #operations let-item>
  @if ([AppPermissions.LanguageManagement_Edit, AppPermissions.LanguageManagement_Delete] | permissionAny) {
    @if (item.loading) {
      <mat-spinner [diameter]="20"></mat-spinner>
    }
    @if (!item.loading) {
      <button mat-icon-button [matMenuTriggerFor]="menu" #menuTrigger="matMenuTrigger">
        <i class="fa fa-ellipsis-v"></i>
      </button>
    }
    <mat-menu #menu="matMenu">
      @if (AppPermissions.LanguageManagement_Edit | permission) {
        <a mat-menu-item (click)="toggleActivate(item)">
          <i class="fa fa-circle-check mx-1"></i>
          @if (!item.isActive) {
            <span>{{ 'Activate' | translate }}</span>
          }
          @if (item.isActive) {
            <span>{{ 'DeActivate' | translate }}</span>
          }
        </a>
      }

      @if (AppPermissions.LanguageManagement_Edit | permission) {
        <a mat-menu-item (click)="openDetails(item)">
          <i class="fa fa-list mx-1"></i>
          <span>{{ 'LocalizationTexts' | translate }}</span>
        </a>
      }
      @if (AppPermissions.LanguageManagement_Delete | permission) {
        <a mat-menu-item (click)="remove(item)">
          <i class="fa fa-trash mx-1"></i>
          <span>{{ 'Remove' | translate }}</span>
        </a>
      }
    </mat-menu>
  }
</ng-template>
