<mat-progress-bar *ngIf="loading" class="my-5" [mode]="'indeterminate'"></mat-progress-bar>

<form #frm="ngForm" *ngIf="settings && !loading">
  <!-- <switch [(ngModel)]="settings.requireCaptchaOnLogin" name="requireCaptchaOnLogin">
    {{ 'RequireCaptchaOnLogin' | translate }}
  </switch> -->
  <!-- ---------------------------------------------------- -->

  <!-- <h5>
    {{ 'TwoFactorAuthentication' | translate }}
  </h5>
  <switch
    [(ngModel)]="settings.twoFactorAuthentication.enable"
    name="enableTwoFactorAuth"
    (ngModelChange)="onChangeTwoFactor()">
    {{ 'Enable' | translate }}
  </switch>
  <div class="mx-3" *ngIf="settings.twoFactorAuthentication.enable">
    <switch [(ngModel)]="settings.twoFactorAuthentication.viaEmail" name="viaEmail">
      {{ 'TwoFactorAuthenticationViaEmail' | translate }}
    </switch>
    <switch [(ngModel)]="settings.twoFactorAuthentication.viaSMS" name="viaSMS">
      {{ 'TwoFactorAuthenticationViaSMS' | translate }}
    </switch>
  </div> -->

  <!-- ---------------------------------------------------- -->

  <h5>
    {{ 'PasswordComplexity' | translate }}
  </h5>
  <mat-form-field>
    <mat-label>{{ 'RequiredLength' | translate }}</mat-label>
    <input
      type="number"
      matInput
      [(ngModel)]="settings.passwordComplexity.requiredLength"
      name="minPass"
      required
      min="3"
      max="50" />
  </mat-form-field>

  <switch [(ngModel)]="settings.passwordComplexity.requireDigit" name="requireDigit">
    {{ 'PasswordComplexityRequireDigit' | translate }}
  </switch>
  <switch [(ngModel)]="settings.passwordComplexity.requireLowercase" name="requireLowercase">
    {{ 'PasswordComplexityRequireLowercaset' | translate }}
  </switch>
  <switch [(ngModel)]="settings.passwordComplexity.requireUppercase" name="requireUppercase">
    {{ 'PasswordComplexityRequireUppercase' | translate }}
  </switch>
  <switch [(ngModel)]="settings.passwordComplexity.requireNonAlphanumeric" name="requireNonAlphanumeric">
    {{ 'PasswordComplexityRequireSpecialChar' | translate }}
  </switch>
  <div class="d-flex align-items-end justify-content-end">
    <button mat-raised-button color="primary" (click)="save(frm)" [disabled]="isSaving">
      {{ 'Save' | translate }}
    </button>
  </div>
</form>
