<mat-progress-bar *ngIf="loading" class="my-5" [mode]="'indeterminate'"></mat-progress-bar>

<form #frm="ngForm" *ngIf="settings && !loading">
  <h5>
    {{ 'Captcha' | translate }}
  </h5>

  <switch [(ngModel)]="settings.requireCaptchaOnLogin" name="requireCaptchaOnLogin">
    {{ 'RequireCaptchaOnLogin' | translate }}
  </switch>
  <!-- ---------------------------------------------------- -->

  <h5>
    {{ 'TwoFactorAuthentication' | translate }}
  </h5>
  <switch [(ngModel)]="settings.userSetting.enableTwoFactor" name="enableTwoFactorAuth">
    {{ 'Enable' | translate }}
  </switch>
  @if (settings.userSetting.enableTwoFactor) {
    <mat-form-field>
      <mat-label>{{ 'TwoFactorType' | translate }}</mat-label>
      <mat-select [(ngModel)]="settings.userSetting.twoFactorType" name="twoFactorType">
        <mat-option [value]="TwoFactorTypeEnum.Email">{{ 'Email' | translate }}</mat-option>
        <mat-option [value]="TwoFactorTypeEnum.Sms">{{ 'SMS' | translate }}</mat-option>
        <mat-option [value]="TwoFactorTypeEnum.AuthenticatorApp">{{ 'App' | translate }}</mat-option>
      </mat-select>
    </mat-form-field>

    @if (settings.userSetting.isVerified) {
      <span class="text-success">
        {{ 'Verified2FaApp' | translate }}
      </span>
      <button class="btn btn-link" (click)="set2FaAppConfig()">{{ 'Change' | translate }}</button>
    } @else {
      <span class="text-danger">
        {{ 'Unverified2FaApp' | translate }}
      </span>
      <button class="btn btn-link" (click)="set2FaAppConfig()">{{ 'Verify' | translate }}</button>
    }
  }
  <!-- ---------------------------------------------------- -->
  <h5>
    {{ 'LogginAttemptCountLimit' | translate }}
  </h5>
  <mat-form-field>
    <mat-label>{{ 'LimitCount' | translate }}</mat-label>
    <input
      type="number"
      matInput
      [(ngModel)]="settings.logginAttemptCountLimit"
      name="logginAttemptCountLimit"
      required
      min="3"
      max="100" />
  </mat-form-field>
  <!-- ---------------------------------------------------- -->

  <h5>
    {{ 'PasswordComplexity' | translate }}
  </h5>
  <mat-form-field>
    <mat-label>{{ 'RequiredLength' | translate }}</mat-label>
    <input
      type="number"
      matInput
      [(ngModel)]="settings.passwordComplexity.requiredLength"
      name="minPass"
      required
      min="3"
      max="50" />
  </mat-form-field>

  <switch [(ngModel)]="settings.passwordComplexity.requireDigit" name="requireDigit">
    {{ 'PasswordComplexityRequireDigit' | translate }}
  </switch>
  <switch [(ngModel)]="settings.passwordComplexity.requireLowercase" name="requireLowercase">
    {{ 'PasswordComplexityRequireLowercaset' | translate }}
  </switch>
  <switch [(ngModel)]="settings.passwordComplexity.requireUppercase" name="requireUppercase">
    {{ 'PasswordComplexityRequireUppercase' | translate }}
  </switch>
  <switch [(ngModel)]="settings.passwordComplexity.requireNonAlphanumeric" name="requireNonAlphanumeric">
    {{ 'PasswordComplexityRequireSpecialChar' | translate }}
  </switch>
  <div class="d-flex align-items-end justify-content-end">
    <button mat-raised-button color="primary" (click)="save(frm)" [disabled]="isSaving">
      {{ 'Save' | translate }}
    </button>
  </div>
</form>
