body {
  // background-image: url(' ../../../public/images/dashboard/background/1.png');
}
.sub-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  padding: 10px 0;
}

app-dashboard {
  display: block;
  height: 100%;
  padding: 1px;
}

.dashboard-container.header-fixed-top {
  margin-top: 60px;
}

.dashboard-content {
  background-color: var(--bs-body-bg);
  border-radius: 4px;
  margin: 10px;
  padding: 15px 10px;
}
