:root {
  --colors-background-1: #292929;
}
.spacing-control {
  width: 224px;
  height: 112px;
  padding: 2px;
  border-radius: 4px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
g:hover {
  path {
    filter: brightness(0.1);
  }
}
svg#margin {
  position: absolute;
}
svg#padding {
  position: absolute;
}
.grid-values-margin {
  display: grid;
  grid-template-columns: 35px 2px 35px 1fr 35px 2px 35px;
  grid-template-rows: 23px 2px 23px 1fr 23px 4px 23px;
  outline-style: none;
  cursor: default;
  user-select: none;
  width: 100%;
  height: 100%;
  color: #fff;
  z-index: 1;
  pointer-events: none;
  button {
    width: 30px;
    height: auto;
    overflow: hidden;
    user-select: none;
    text-overflow: ellipsis;
    place-self: center;
    padding: 1px;
    border-radius: 4px;
    white-space: nowrap;
    line-height: 1;
    font-family:
      Inter,
      -apple-system,
      BlinkMacSystemFont,
      'Segoe UI',
      Roboto,
      Oxygen-Sans,
      Ubuntu,
      Cantarell,
      'Helvetica Neue',
      Helvetica,
      Arial,
      'Apple Color Emoji',
      'Segoe UI Emoji',
      'Segoe UI Symbol',
      sans-serif;
    background: rgb(6 161 255 / 30%);
    font-size: 10px;
    font-weight: 400;
    pointer-events: fill;
    border: none;
    color: inherit;
    anchor-point: auto;
  }

  .gvm-t {
    grid-area: 1/2/1/7;
  }
  .gvm-r {
    grid-area: 2/8/7/7;
  }
  .gvm-b {
    grid-area: 7/2/7/7;
  }
  .gvm-l {
    grid-area: 2/1/7/1;
  }

  .gvp-t {
    grid-area: 3 / 4 / 3 / 4;
  }
  .gvp-r {
    grid-area: 3 / 5 / 6 / 5;
  }
  .gvp-b {
    grid-area: 5 / 4 / 6 / 5;
  }
  .gvp-l {
    grid-area: 2 / 3 / 6 / 3;
  }
}
/*-------------------------------------------*/

.custom-panel {
  anchor-name: --my-anchor;
  top: anchor(bottom);
  left: calc(anchor(right) - 320px);
  position: absolute;
  margin: 0;
  outline: none;
  background: #1b1a1d;
  color: #fff;
  border-radius: 5px;
  border: 1px #636363 solid;
  box-shadow: 0px 0px 20px 8px #2020208c;
  padding: 10px;
  width: 320px;
  .samples {
    display: grid;
    grid-template-rows: 38px 38px;
    gap: 4px;
    margin: 15px 0;
    gap: 4px;
    &.margin {
      grid-template-columns: 1.5fr repeat(4, 1fr);
    }
    &.padding {
      grid-template-columns: repeat(4, 1fr);
    }
    .btn {
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.13) 0%, rgba(255, 255, 255, 0.11) 100%);
      box-shadow:
        0px 0.5px 1px rgba(0, 0, 0, 0.8),
        inset 0px 0.5px 0.5px rgba(255, 255, 255, 0.12);
      color: inherit;
      &:hover {
        background: #6d6d6d;
      }
    }
    .btn.auto {
      grid-row: span 2;
    }
  }
  i,
  button {
    color: inherit;
  }
  input:not([type='range']) {
    width: 68px;
    background: #4d4d4d;
    border: none;
    border-radius: 3px;
    color: inherit;
    padding: 4px;
  }
}
input[type='range'] {
  appearance: none;
  -webkit-appearance: none;
  width: 400px;
  height: 4px;
  border-radius: 5px;
  background-color: #696969;
  outline: none;
  margin: 20px 2px 0;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 5px;
  height: 20px;
  border-radius: 2px;
  background-color: #1741ff;
  position: relative;
}

::ng-deep {
  body[dir='rtl'] {
    .custom-panel {
      right: calc(anchor(left) - 320px);
    }
  }
}
