:root {
  --colors-background-1: #292929;
}
.spacing-control {
  width: 224px;
  height: 112px;
  padding: 2px;
  border-radius: 4px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
g:hover {
  path {
    filter: brightness(0.1);
  }
}
svg#margin {
  position: absolute;
}
svg#padding {
  position: absolute;
}
.grid-values-margin {
  display: grid;
  grid-template-columns: 35px 2px 35px 1fr 35px 2px 35px;
  grid-template-rows: 23px 2px 23px 1fr 23px 4px 23px;
  outline-style: none;
  cursor: default;
  user-select: none;
  width: 100%;
  height: 100%;
  color: #fff;
  z-index: 1;
  pointer-events: none;
  span {
    width: auto;
    height: auto;
    overflow: hidden;
    user-select: none;
    text-overflow: ellipsis;
    place-self: center;
    padding: 1px 5px;
    border-radius: 4px;
    white-space: nowrap;
    line-height: 1;
    font-family:
      Inter,
      -apple-system,
      BlinkMacSystemFont,
      'Segoe UI',
      Roboto,
      Oxygen-Sans,
      Ubuntu,
      Cantarell,
      'Helvetica Neue',
      Helvetica,
      Arial,
      'Apple Color Emoji',
      'Segoe UI Emoji',
      'Segoe UI Symbol',
      sans-serif;
    background: rgb(6 161 255 / 30%);
    font-size: 10px;
    font-weight: 400;
  }

  .gvm-t {
    grid-area: 1/2/1/7;
  }
  .gvm-r {
    grid-area: 2/8/7/7;
  }
  .gvm-b {
    grid-area: 7/2/7/7;
  }
  .gvm-l {
    grid-area: 2/1/7/1;
  }

  .gvp-t {
    grid-area: 3 / 4 / 3 / 4;
  }
  .gvp-r {
    grid-area: 3 / 5 / 6 / 5;
  }
  .gvp-b {
    grid-area: 5 / 4 / 6 / 5;
  }
  .gvp-l {
    grid-area: 2 / 3 / 6 / 3;
  }
}
