<h2>
  <span cdkDragHandle class="title" *ngIf="!isUpdate">{{ 'CreateProduct' | translate }}</span>
  <span cdkDragHandle class="title" *ngIf="isUpdate">{{ 'EditProduct' | translate }}</span>
</h2>

<div class="d-flex align-items-center justify-content-center py-5" *ngIf="loading">
  <mat-spinner color="primary" diameter="25"></mat-spinner>
</div>
<form [formGroup]="form" *ngIf="!loading">
  <tab-group>
    <tab-item
      [title]="translation.get('culture')?.value"
      formArrayName="translations"
      *ngFor="let translation of translationsArray.controls; let i = index">
      <div [formGroupName]="i" class="row">
        <mat-form-field class="col-sm-12">
          <mat-label>{{ 'Name' | translate }}</mat-label>
          <input matInput formControlName="name" />
        </mat-form-field>
        <mat-form-field class="col-sm-12">
          <mat-label>{{ 'Description' | translate }}</mat-label>
          <textarea matInput formControlName="description" rows="3"></textarea>
        </mat-form-field>
      </div>
    </tab-item>
  </tab-group>
</form>

<div class="actions fixed-bottom">
  <button mat-raised-button color="primary" (click)="save()" cdkFocusInitial [disabled]="loading || saving">
    <mat-spinner *ngIf="saving" color="primary" diameter="25"></mat-spinner>
    <span>{{ 'Save' | translate }}</span>
  </button>
</div>
