<form [formGroup]="form" [class]="parentClass">
  <mat-form-field [class]="className">
    <mat-label>{{ 'Password' | translate }}</mat-label>
    <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password" />
    <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" type="button">
      @if (!hidePassword) {
        <i class="fa fa-eye-slash"></i>
      }
      @if (hidePassword) {
        <i class="fa fa-eye"></i>
      }
    </button>
    @for (error of passwordErrors; track error) {
      <mat-error>{{ error }}</mat-error>
    }
  </mat-form-field>

  <mat-form-field [class]="className">
    <mat-label>{{ 'ConfirmPassword' | translate }}</mat-label>
    <input matInput [type]="hideConfirm ? 'password' : 'text'" formControlName="confirmPassword" />
    <button mat-icon-button matSuffix (click)="hideConfirm = !hideConfirm" type="button">
      @if (!hideConfirm) {
        <i class="fa fa-eye-slash"></i>
      }
      @if (hideConfirm) {
        <i class="fa fa-eye"></i>
      }
    </button>
    @if (form.get('confirmPassword')?.hasError('confirmError')) {
      <mat-error>
        {{ 'ConfirmPasswordMismatch' | translate }}
      </mat-error>
    }
  </mat-form-field>
</form>
