<form [formGroup]="form" [class]="parentClass">
  <mat-form-field [class]="className">
    <mat-label>{{ 'Password' | translate }}</mat-label>
    <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password" />
    <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" type="button">
      <i class="fa fa-eye-slash" *ngIf="!hidePassword"></i>
      <i class="fa fa-eye" *ngIf="hidePassword"></i>
    </button>
    <mat-error *ngFor="let error of passwordErrors">{{ error }}</mat-error>
  </mat-form-field>

  <mat-form-field [class]="className">
    <mat-label>{{ 'ConfirmPassword' | translate }}</mat-label>
    <input matInput [type]="hideConfirm ? 'password' : 'text'" formControlName="confirmPassword" />
    <button mat-icon-button matSuffix (click)="hideConfirm = !hideConfirm" type="button">
      <i class="fa fa-eye-slash" *ngIf="!hideConfirm"></i>
      <i class="fa fa-eye" *ngIf="hideConfirm"></i>
    </button>
    <mat-error *ngIf="form.get('confirmPassword')?.hasError('confirmError')">
      {{ 'ConfirmPasswordMismatch' | translate }}
    </mat-error>
  </mat-form-field>
</form>
