.login-page {
  min-height: 100%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding: 2rem;
}
.login-btn {
  .mdc-button__label {
    position: static;
  }
  mat-progress-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
