<div
  class="block-item"
  [attr.id]="'block_' + block?.id"
  [attr.data-name]="block?.name"
  [attr.data-parent-id]="block?.parent?.id"
  [class.fb-selected]="b.selectedBlock?.id == block?.id"
  [style]="block?.data ? block?.data?.css : undefined">
  <ng-container #container><ng-content></ng-content></ng-container>
  <ng-container
    [ngTemplateOutlet]="nestedTreeTpl"
  [ngTemplateOutletContext]="{ $implicit: block, parent: parent }"></ng-container>
</div>

<ng-template #nestedTreeTpl let-block let-parent="parent">
  @if (block) {
    <div
      class="actions"
      [class.actions-top]="actionsPosition === 'top'"
      [class.actions-bottom]="actionsPosition === 'bottom'">
      <button (click)="b.deleteBlock(block, parent)">
        <i class="fa fa-trash"></i>
      </button>
      @if (canDrag) {
        <span class="drag-handler" ngxDraggable [dragRootElement]="'.block-item'">
          <i class="fa fa-grip-dots"></i>
        </span>
      }
      <span>
        {{ block.name ?? block.tagName ?? BlockTypeEnum[block.type] }}
      </span>
    </div>
    <div class="children-blocks" ngxDropList [data]="block.children" (drop)="drop($event)">
      <!-- <span class="custom-placeholder2" *ngxPlaceholder></span> -->
      @if (block.children) {
        @for (child of block.children; track child; let i = $index) {
          <dynamic-renderer
            [parent]="block"
            [block]="child"
          [loopIndex]="loopIndex"></dynamic-renderer>
        }
      }
    </div>
  }
</ng-template>
