:host {
  display: contents;
}
.block-item {
  position: relative;
  min-height: 20px;
  max-height: 100%;
  &:hover {
    outline: 1px #3b97e3 solid;
  }
}

.children-blocks {
  &:empty,
  &:not(:first-child) {
    min-height: 10px;
    margin-top: 5px;
    height: 100%;
  }

  &:hover {
    background-color: #3b97e315;
  }
}
.actions {
  position: absolute;
  background: #3b97e3;
  color: #fff;
  padding: 4px 6px;
  display: none;
  min-height: 40px;
  z-index: 10;
  right: 0;
  overflow: hidden;
  gap: 6px;
  align-items: center;
  button {
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
    color: inherit;
  }
  &.actions-top {
    top: -40px;
  }
  &.actions-bottom {
    bottom: -40px;
  }
}
.block-item.fb-selected > .actions {
  display: flex;
}
:host.hidden {
  display: none;
}
.drag-handler {
  cursor: move;
  padding: 0 20px;
  height: 100%;
}
