.fa.yellow,
.fad.yellow {
  color: #ffbf00;
  font-weight: bold;
  font-size: 24px;
}
.icon-periority {
  font-weight: bold;
  font-size: 24px;
}
.icon-type {
  font-weight: bold;
  font-size: 24px;
}
