<h2 mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane">
  <span cdkDragHandle class="title" *ngIf="!isUpdate">{{ 'CreateProductCategory' | translate }}</span>
  <span cdkDragHandle class="title" *ngIf="isUpdate">{{ 'EditProductCategory' | translate }}</span>

  <button type="button" class="close-btn" aria-label="Close" mat-dialog-close mat-icon-button>
    <span aria-hidden="true">&times;</span>
  </button>
</h2>
<mat-dialog-content>
  <div class="d-flex align-items-center justify-content-center py-5" *ngIf="loading">
    <mat-spinner color="primary" diameter="25"></mat-spinner>
  </div>
  <form [formGroup]="form" *ngIf="!loading">
    <div class="row">
      <mat-form-field class="col-md-6">
        <mat-label>{{ 'Slug' | translate }}</mat-label>
        <input matInput formControlName="slug" />
      </mat-form-field>
      <mat-form-field class="col-md-6">
        <mat-label>{{ 'OrderIndex' | translate }}</mat-label>
        <input matInput formControlName="orderIndex" numberCheck type="number" />
      </mat-form-field>

      <mat-form-field class="col-md-6">
        <mat-label>{{ 'Parent' | translate }}</mat-label>
        <input matInput formControlName="parentId" />
      </mat-form-field>
    </div>
    <p>
      <mat-checkbox formControlName="isActive" color="primary">
        {{ 'IsActive' | translate }}
      </mat-checkbox>
    </p>
    <file-selector (change)="onSelectFile($event)" [options]="imagePickerOptions"></file-selector>
    <tab-group>
      <tab-item
        [title]="translation.get('culture')?.value"
        formArrayName="translations"
        *ngFor="let translation of translationsArray.controls; let i = index">
        <div [formGroupName]="i" class="row">
          <mat-form-field class="col-sm-12">
            <mat-label>{{ 'Title' | translate }}</mat-label>
            <input matInput formControlName="title" />
          </mat-form-field>
          <mat-form-field class="col-sm-12">
            <mat-label>{{ 'Description' | translate }}</mat-label>
            <textarea matInput formControlName="description" rows="3"></textarea>
          </mat-form-field>
        </div>
      </tab-item>
    </tab-group>
  </form>

  <!-- <pre dir="ltr" style="text-align: left;">{{form.value|json}}</pre> -->
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close color="cancel">{{ 'Cancel' | translate }}</button>
  <button mat-raised-button color="primary" (click)="save()" cdkFocusInitial [disabled]="loading || saving">
    <mat-spinner *ngIf="saving" color="primary" diameter="25"></mat-spinner>
    <span>{{ 'Save' | translate }}</span>
  </button>
</mat-dialog-actions>
