<h2 mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane">
  @if (!isUpdate) {
    <span cdkDragHandle class="title">{{ 'CreateCurrency' | translate }}</span>
  }
  @if (isUpdate) {
    <span cdkDragHandle class="title">{{ 'EditCurrency' | translate }}</span>
  }

  <button type="button" class="close-btn" aria-label="Close" mat-dialog-close mat-icon-button>
    <span aria-hidden="true">&times;</span>
  </button>
</h2>
<mat-dialog-content>
  <form [formGroup]="form">
    <div class="row">
      <mat-form-field class="col-sm-6">
        <mat-label>{{ 'Code' | translate }}</mat-label>
        <input matInput type="text" formControlName="currencyCode" maxlength="5" />
        @if (form.get('currencyCode')?.hasError('required')) {
          <mat-error>
            {{ 'IsRequired' | translate: { value: ('Code' | translate) } }}
          </mat-error>
        }
      </mat-form-field>
      <mat-form-field class="col-sm-6">
        <mat-label>{{ 'Name' | translate }}</mat-label>
        <input matInput type="text" formControlName="name" maxlength="100" />
        @if (form.get('name')?.hasError('required')) {
          <mat-error>
            {{ 'IsRequired' | translate: { value: ('Name' | translate) } }}
          </mat-error>
        }
      </mat-form-field>
      <mat-form-field class="col-sm-6">
        <mat-label>{{ 'Symbol' | translate }}</mat-label>
        <input matInput type="text" formControlName="symbol" maxlength="100" />
        @if (form.get('symbol')?.hasError('required')) {
          <mat-error>
            {{ 'IsRequired' | translate: { value: ('Symbol' | translate) } }}
          </mat-error>
        }
      </mat-form-field>
      <mat-form-field class="col-sm-6">
        <mat-label>{{ 'ExchangeRateToBase' | translate }}</mat-label>
        <input matInput type="number" formControlName="exchangeRateToBase" numberCheck [isDecimal]="true" />
        @if (form.get('exchangeRateToBase')?.hasError('required')) {
          <mat-error>
            {{ 'IsRequired' | translate: { value: ('ExchangeRateToBase' | translate) } }}
          </mat-error>
        }
      </mat-form-field>
    </div>
    <p>
      <mat-checkbox color="primary" formControlName="isDefault">{{ 'IsDefault' | translate }}</mat-checkbox>
    </p>
    <p>
      <mat-checkbox color="primary" formControlName="isActive">{{ 'IsActive' | translate }}</mat-checkbox>
    </p>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close color="cancel">{{ 'Cancel' | translate }}</button>
  <button mat-raised-button color="primary" (click)="save()" cdkFocusInitial [disabled]="saving">
    @if (saving) {
      <mat-spinner color="primary" diameter="25"></mat-spinner>
    }
    <span>{{ 'Save' | translate }}</span>
  </button>
</mat-dialog-actions>
