body {
  // background-image: url(' ../../../public/images/panel/background/1.png');
}
.sub-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  padding: 10px 0;
}

app-panel {
  display: block;
  height: 100%;
  padding: 1px;
}

.panel-container.header-fixed-top {
  margin-top: 55px;
}

.panel-content {
  background-color: var(--body-bg);
  border-radius: 4px;
  // margin: 10px;
  padding: 15px 10px;
}

@media (max-width: 992px) {
  .panel-container.header-fixed-top {
    margin-top: 45px;
  }
}
