:host {
  margin: 15px 0;
}
.fw-50px {
  width: 50px;
}
.fw-100px {
  width: 100px;
  min-width: 100px;
  max-width: 100px;
}
.popup-container {
  position: fixed;
  margin: 0;
  outline: none;
  background: #1b1a1d;
  color: #fff;
  border-radius: 5px;
  border: 1px #636363 solid;
  box-shadow: 0px 0px 20px 8px #2020208c;
  padding: 10px;
  width: 320px;
  direction: ltr;
  z-index: 100;
}

.place-top,
.place-bottom {
  display: flex;
  justify-content: center;
}
.place-left-right {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.select-unit {
  max-width: 50px;
  padding: 5px;
}
