<form [formGroup]="form">
  <div class=" ">{{ 'PriceHistory' | translate }}</div>

  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <td>{{ 'Code' | translate }}</td>
          <td>{{ 'Price' | translate }}</td>
          <td>{{ 'Type' | translate }}</td>
          <td>{{ 'StartDate' | translate }}</td>
          <td>{{ 'EndDate' | translate }}</td>
          <td></td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <div class="input-group">
              <mat-select class="form-control" formControlName="currency" [placeholder]="'Currency' | translate">
                @for (item of currencyList; track item) {
                  <mat-option [value]="item.id">
                    {{ item.title }} ({{ item.id }})
                  </mat-option>
                }
                @if (!loadingCurrency && currencyList.length == 0) {
                  <mat-option disabled>
                    {{ 'NotACase' | translate }}
                  </mat-option>
                }
              </mat-select>
              @if (loadingCurrency) {
                <span class="input-group-text">
                  <mat-spinner color="primary" diameter="20"></mat-spinner>
                </span>
              }
            </div>
            @if (form.get('currency')?.hasError('required')) {
              <span class="text-danger">
                {{ 'IsRequired' | translate: { value: 'Currency' | translate } }}
              </span>
            }
          </td>
          <td>
            <input
              class="form-control"
              type="number"
              numberCheck
              formControlName="price"
              [placeholder]="'Price' | translate" />
              @if (form.get('price')?.hasError('required')) {
                <span class="text-danger">
                  {{ 'IsRequired' | translate: { value: 'Price' | translate } }}
                </span>
              }
            </td>
            <td>
              <div class="">
                <mat-select class="form-control" formControlName="type" [placeholder]="'Type' | translate">
                  @for (item of PriceTypeEnum | enumToArray; track item) {
                    <mat-option [value]="item">
                      {{ 'PriceTypeEnum_' + item | translate }}
                    </mat-option>
                  }
                </mat-select>
              </div>
              @if (form.get('type')?.hasError('required')) {
                <span class="text-danger">
                  {{ 'IsRequired' | translate: { value: 'Type' | translate } }}
                </span>
              }
            </td>
            <td>
              <div class="input-group">
                <input
                  class="form-control"
                  [matDatepicker]="dpS"
                  formControlName="startDate"
                  [placeholder]="'StartDate' | translate"
                  [max]="form.get('endDate')?.value"
                  readonly
                  (click)="dpS.open()" />
                  <mat-datepicker #dpS></mat-datepicker>
                  <mat-datepicker-toggle class="input-group-text py-0 px-1" [for]="dpS"></mat-datepicker-toggle>
                </div>
                @if (form.get('startDate')?.hasError('required')) {
                  <span class="text-danger">
                    {{ 'IsRequired' | translate: { value: ('StartDate' | translate) } }}
                  </span>
                }
                @if (
                  form.get('startDate')?.hasError('matDatepickerMin') ||
                  form.get('startDate')?.hasError('matDatepickerMax')
                  ) {
                  <span
                    class="text-danger"
                    >
                    {{ 'InvalidStartAndEndDate' | translate }}
                  </span>
                }
                @if (form.get('startDate')?.hasError('matDatepickerParse')) {
                  <span class="text-danger">
                    {{ 'InvalidDateFormat' | translate }}
                  </span>
                }
              </td>
              <td>
                <div class="input-group">
                  <input
                    class="form-control"
                    [matDatepicker]="dpE"
                    formControlName="endDate"
                    [placeholder]="'EndDate' | translate"
                    [min]="form.get('startDate')?.value"
                    readonly
                    (click)="dpE.open()" />
                    <mat-datepicker #dpE></mat-datepicker>
                    <mat-datepicker-toggle class="input-group-text py-0 px-1" [for]="dpE"></mat-datepicker-toggle>
                  </div>
                  @if (form.get('endDate')?.hasError('required')) {
                    <span class="text-danger">
                      {{ 'IsRequired' | translate: { value: ('EndDate' | translate) } }}
                    </span>
                  }
                  @if (
                    form.get('endDate')?.hasError('matDatepickerMin') || form.get('endDate')?.hasError('matDatepickerMax')
                    ) {
                    <span
                      class="text-danger"
                      >
                      {{ 'InvalidStartAndEndDate' | translate }}
                    </span>
                  }
                  @if (form.get('endDate')?.hasError('matDatepickerParse')) {
                    <span class="text-danger">
                      {{ 'InvalidDateFormat' | translate }}
                    </span>
                  }
                </td>
                <td>
                  <button mat-icon-button (click)="save()">
                    <i class="fa fa-save"></i>
                  </button>
                </td>
              </tr>
              @for (item of prices; track item; let i = $index) {
                <tr>
                  <td>{{ item.currency }}</td>
                  <td>{{ item.price | number }}</td>
                  <td>{{ 'PriceTypeEnum_' + item.type | translate }}</td>
                  <td>{{ item.startDate | luxonFormat: 'F' }}</td>
                  <td>{{ item.endDate | luxonFormat: 'F' }}</td>
                  <td>
                    <button mat-icon-button (click)="remove(i)">
                      <i class="fa fa-trash"></i>
                    </button>
                  </td>
                </tr>
              }
            </tbody>
          </table>
        </div>
      </form>
