.widget-panel {
  position: fixed;
  bottom: 15px;
  left: 15px;
  border-radius: 10px;
  background: #2e2e2e3b;
  padding: 10px;
}
.widget-actions {
  position: absolute;
  left: 10px;
  top: -100%;
  background: #3f51b5;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 0 10px 10px;
  padding: 0 10px;
  transition: top 300ms;
}

.widget-container {
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 5px;
  &:hover {
    .widget-actions {
      top: 0;
    }
  }
}
